Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

add unit tets for GeneratePatchAndSubResources
  pkg/reconciler/committer/committer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add quickstart guide for kcp with kind and helm
  docs/content/setup/.pages
  docs/content/setup/quickstart-kind.md
Due: none

refactor: use testing.T.Context() instead of context.WithCancel
  pkg/authentication/index_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/kcp/controller_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/kcpexisting/controller_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/singlecluster/controller_test.go
  test/e2e/apibinding/apibinding_deletion_test.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_permissionclaims_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/apibinding/default_apibinding_test.go
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
  test/e2e/authorizer/scopes_test.go
  test/e2e/customresourcedefinition/customresourcedefinition_test.go
  test/e2e/garbagecollector/garbagecollector_test.go
  test/e2e/quota/quota_test.go
  test/e2e/reconciler/apiexport/apiexport_controller_test.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/cachedresourceendpointslice/cachedresourceendpointslice_test.go
  test/e2e/reconciler/partitionset/partitionset_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
  test/e2e/server/url_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
  test/e2e/watchcache/watchcache_enabled_test.go
  test/e2e/workspace/inactive_test.go
  test/integration/workspace/leak_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix VAP flakes
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 826066e1f to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: fix kind quickstart helm instructions
  docs/content/setup/quickstart-kind.md
Due: none

Deployed 49f33f589 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

bump golangci-lint to 2.5.0
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update to 2.6.0, fix deprecation notices
  Makefile
  pkg/network/dialer_linux.go
  pkg/network/dialer_other.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/types_apiexportendpointslice.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
  staging/src/github.com/kcp-dev/sdk/testing/server/fixture.go
  test/e2e/conformance/cross_logical_cluster_list_test.go
  test/e2e/fixtures/apifixtures/sheriffs.go
  test/e2e/quota/quota_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
  test/e2e/watchcache/watchcache_enabled_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update checksums
  hack/tools.checksums
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 951b53c08 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

extend docs on cross workspace auth
  docs/content/concepts/authorization/authorizers.md
Due: none

document event audit logs
  docs/content/setup/production/audit-logging.md
  docs/content/setup/production/index.md
  pkg/server/virtual.go
  pkg/virtual/framework/rootapiserver/config.go
  pkg/virtual/framework/rootapiserver/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 7d1c80aed to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/production/audit-logging/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

implement admission policy
  config/crds/admissionregistration.k8s.io_mutatingadmissionpolicies.yaml
  config/crds/admissionregistration.k8s.io_mutatingadmissionpolicybindings.yaml
  docs/content/concepts/apis/admission-webhooks.md
  docs/content/concepts/apis/built-in.md
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
  pkg/admission/plugins.go
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/informer/informer.go
  pkg/server/config.go
  pkg/server/controllers.go
  pkg/server/server.go
  pkg/virtual/apiexport/schemas/builtin/builtin.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add accept and reject commands to kcp claims cli
  staging/src/github.com/kcp-dev/cli/pkg/claims/cmd/cmd.go
  staging/src/github.com/kcp-dev/cli/pkg/claims/plugin/accept.go
  staging/src/github.com/kcp-dev/cli/pkg/claims/plugin/reject.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding_v1alpha1.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding_v1alpha2.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update logcheck to v0.10.0
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add apiexport and apibinding view when viewing workspace in interactive mode
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/interactive.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed c4dcb4374 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: fix quickstart guide based on review comments (hostname, quoting, url)
  docs/content/setup/quickstart-kind.md
Due: none

fix .Error calls under .V wrapper
  pkg/reconciler/core/logicalclusterdeletion/deletion/logicalcluster_resource_deletor.go
  pkg/reconciler/core/logicalclusterdeletion/logicalcluster_deletion_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed c25079e72 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add geo distributed doc poc
  contrib/production/kcp-zheng/certificate-etcd-alpha.yaml
  contrib/production/kcp-zheng/certificate-etcd-beta.yaml
  contrib/production/kcp-zheng/certificate-etcd-root.yaml
  contrib/production/kcp-zheng/certificate-kcp.yaml
  contrib/production/kcp-zheng/etcd-druid-alpha.yaml
  contrib/production/kcp-zheng/etcd-druid-beta.yaml
  contrib/production/kcp-zheng/etcd-druid-root.yaml
  contrib/production/kcp-zheng/kcp-alpha-shard.yaml
  contrib/production/kcp-zheng/kcp-beta-shard.yaml
  contrib/production/kcp-zheng/kcp-front-proxy.yaml
  contrib/production/kcp-zheng/kcp-root-shard.yaml
  contrib/production/kcp-zheng/kubeconfig-kcp-admin.yaml
  docs/content/setup/production/index.md
  docs/content/setup/production/kcp-zheng.md
  docs/content/setup/production/prerequisites.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

make workspace viewport responsive
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/interactive.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add distributed deployment pattern
  config/examples/cowboys/apiexport.yaml
  config/examples/cowboys/apiexportendpointslice-partitioned-alpha.yaml
  config/examples/cowboys/apiexportendpointslice-partitioned-beta.yaml
  config/examples/cowboys/apiresourceschema.yaml
  config/examples/cowboys/cowboy.yaml
  contrib/production/kcp-zheng/kcp-alpha-shard.yaml
  contrib/production/kcp-zheng/kcp-beta-shard.yaml
  contrib/production/kcp-zheng/kcp-front-proxy.yaml
  contrib/production/kcp-zheng/kcp-root-shard.yaml
  docs/content/concepts/sharding/partitions.md
  docs/content/setup/production/kcp-zheng.md
  docs/content/setup/sharding.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

force 127.0.0.1 vs random nic IP
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

replace manual context cancellation with t.Context()
  staging/src/github.com/kcp-dev/sdk/testing/kcp.go
  staging/src/github.com/kcp-dev/sdk/testing/server/fixture.go
  staging/src/github.com/kcp-dev/sdk/testing/server/testing.go
  staging/src/github.com/kcp-dev/sdk/testing/testing.go
  test/e2e/apibinding/apibinding_deletion_test.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_permissionclaims_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/apibinding/default_apibinding_test.go
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
  test/e2e/audit/audit_log_test.go
  test/e2e/authentication/workspace_test.go
  test/e2e/customresourcedefinition/customresourcedefinition_test.go
  test/e2e/garbagecollector/garbagecollector_test.go
  test/e2e/proxy/proxy_test.go
  test/e2e/quota/quota_test.go
  test/e2e/reconciler/apiexport/apiexport_controller_test.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
  test/e2e/server/url_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
  test/e2e/watchcache/watchcache_enabled_test.go
  test/e2e/workspace/inactive_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
  test/integration/framework/server.go
  test/integration/workspace/leak_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

replace manual context cancellation with t.Context()
  staging/src/github.com/kcp-dev/sdk/testing/kcp.go
  staging/src/github.com/kcp-dev/sdk/testing/server/testing.go
  staging/src/github.com/kcp-dev/sdk/testing/testing.go
  test/e2e/apibinding/apibinding_deletion_test.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_permissionclaims_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/apibinding/default_apibinding_test.go
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
  test/e2e/audit/audit_log_test.go
  test/e2e/authentication/workspace_test.go
  test/e2e/customresourcedefinition/customresourcedefinition_test.go
  test/e2e/garbagecollector/garbagecollector_test.go
  test/e2e/proxy/proxy_test.go
  test/e2e/quota/quota_test.go
  test/e2e/reconciler/apiexport/apiexport_controller_test.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
  test/e2e/server/url_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/watchcache/watchcache_enabled_test.go
  test/e2e/workspace/inactive_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
  test/integration/framework/server.go
  test/integration/workspace/leak_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix inherited APIBinding Selector not inheriting default permission claim
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_controller.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_reconcile.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_reconcile_test.go
  pkg/reconciler/tenancy/initialization/apibinder_initializer_controller.go
  pkg/reconciler/tenancy/initialization/apibinder_initializer_reconcile.go
  pkg/server/controllers.go
  test/e2e/reconciler/workspace/apibinding_selector_inheritance_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

WIP: Load Testing Concept
  test/load/Readme.md
  test/load/architecture.excalidraw
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add verification script for kind quickstart
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-kind-install.sh
Due: none

Return proper error when resolving identities fails
  cmd/virtual-workspaces/command/cmd.go
  pkg/proxy/server.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

resolved some comments_
  test/e2e/authentication/workspace_test.go
  test/e2e/proxy/proxy_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0b479bbdb to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix flake in TestTerminatingWorkspacesVirtualWorkspaceWatch
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update-codegen-clients.sh: remove TODO about generate-groups.sh
  hack/update-codegen-clients.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Soft fork upstream reflector
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/controller.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/reflector.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

re-enable and fix TestAPIExportAPIBindingsAccess
  test/e2e/virtual/apiexport/apibindings_access_binding1.yaml
  test/e2e/virtual/apiexport/apibindings_access_binding2.yaml
  test/e2e/virtual/apiexport/apibindings_access_binding3.yaml
  test/e2e/virtual/apiexport/apibindings_access_export1.yaml
  test/e2e/virtual/apiexport/apibindings_access_export2.yaml
  test/e2e/virtual/apiexport/apibindings_access_export3.yaml
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
