Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

apiexport vr wip
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/framework/dynamic/apiserver/apiserver.go
  pkg/virtual/framework/dynamic/apiserver/crdhandler.go
  pkg/virtual/framework/dynamic/apiserver/crdhandler_test.go
  pkg/virtual/framework/dynamic/apiserver/discovery.go
  pkg/virtual/framework/dynamic/apiserver/virtualhandler.go
  pkg/virtual/framework/dynamic/apiserver/virtualserving_info.go
  pkg/virtual/framework/dynamic/types.go
  pkg/virtual/framework/dynamic/virtualapidefinition/types.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apiexport vw vr wip 2
  cmd/virtual-workspaces/command/cmd.go
  pkg/server/config.go
  pkg/server/virtual.go
  pkg/server/virtualresources/handler.go
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/apiexport/options/options.go
  pkg/virtual/framework/dynamic/apiserver/virtualhandler.go
  pkg/virtual/framework/dynamic/apiserver/virtualserving_info.go
  pkg/virtual/framework/dynamic/register.go
  pkg/virtual/framework/dynamic/virtualapidefinition/types.go
  pkg/virtual/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

defined CachedResource.Spec.Schema
  config/crds/cache.kcp.io_cachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
  sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/cache/v1alpha1/apiresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcespec.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/crdschemasource.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

wip BoundAPIResourceNames
  config/crds/apis.kcp.io_apibindings.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/virtual/framework/dynamic/virtualapidefinition/types.go
  sdk/apis/apis/v1alpha2/types_apibinding.go
  sdk/apis/apis/v1alpha2/types_apibinding_conversion.go
  sdk/apis/apis/v1alpha2/zz_generated.conversion.go
  sdk/apis/apis/v1alpha2/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/apis/v1alpha2/boundapiresource.go
  sdk/client/applyconfiguration/apis/v1alpha2/boundapiresourcenames.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

wip integration test for conflictvw
  cmd/virtual-workspaces/command/cmd.go
  pkg/virtual/options/options.go
  test/integration/framework/server.go
  test/integration/virtualresources/conflict/conflict_test.go
  test/integration/virtualresources/conflict/conflictvw.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apiexport vw vr works without extra certs
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/framework/dynamic/apiserver/virtualserving_info.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

repl vw consumer awareness works
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/virtual/replication/authorizer/authorizer.go
  pkg/virtual/replication/builder/build.go
  pkg/virtual/replication/builder/unwrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

repl vw consumer awareness wip
  pkg/indexers/apiexport.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/server/virtualresources/config.go
  pkg/virtual/apiexport/builder/forwarding.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/replication/builder/build.go
  pkg/virtual/replication/builder/unwrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apiexport vw vr works but hacky certs
  cmd/sharded-test-server/virtual.go
  cmd/virtual-workspaces/command/cmd.go
  cmd/virtual-workspaces/options/options.go
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/apiexport/options/options.go
  pkg/virtual/framework/dynamic/apiserver/discovery.go
  pkg/virtual/framework/dynamic/apiserver/virtualhandler.go
  pkg/virtual/framework/dynamic/apiserver/virtualserving_info.go
  pkg/virtual/framework/dynamic/virtualapidefinition/types.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Revert "Added CachedResourceSchemaSource to CachedResource"
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication_test.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource_test.go
  pkg/server/controllers.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

revert CachedResources schema replication
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup
  config/crds/apis.kcp.io_apibindings.yaml
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_cachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/apis/v1alpha2/types_apibinding.go
  sdk/apis/apis/v1alpha2/types_apibinding_conversion.go
  sdk/apis/apis/v1alpha2/zz_generated.conversion.go
  sdk/apis/apis/v1alpha2/zz_generated.deepcopy.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
  sdk/client/applyconfiguration/apis/v1alpha2/boundapiresource.go
  sdk/client/applyconfiguration/apis/v1alpha2/boundapiresourcenames.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcereference.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fixes
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/virtual/replication/builder/build.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apibinding VR rework + conflicts checker fix WIP
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/apibinding/conflict_checker.go
  pkg/reconciler/apis/apibinding/conflict_checker_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix required groups documentation
  docs/content/concepts/authorization/authorizers.md
Due: none

Deployed f58cd31c9 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authorization/authorizers/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed fd2a93aba to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/concepts/authorization/authorizers/index.html
  v0.28/search/search_index.json
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fixed conflict checker for VRs
  pkg/reconciler/apis/apibinding/conflict_checker.go
  pkg/reconciler/apis/apibinding/conflict_checker_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apibinding: don't create CRD for virtual resources
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

apiexport vr with schema wip
  pkg/endpointslice/endpointslice.go
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/framework/dynamic/virtualapidefinition/types.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add general technical review document
  docs/content/contributing/governance/general-technical-review.md
  docs/content/contributing/governance/security-self-assessment.md
Due: none

more revert cleanup after VirtualAPIDefinition
  pkg/virtual/framework/dynamic/apiserver/apiserver.go
  pkg/virtual/framework/dynamic/apiserver/discovery.go
  pkg/virtual/framework/dynamic/apiserver/handler.go
  pkg/virtual/framework/dynamic/apiserver/handler_test.go
  pkg/virtual/framework/dynamic/apiserver/virtualhandler.go
  pkg/virtual/framework/dynamic/apiserver/virtualserving_info.go
  pkg/virtual/framework/dynamic/register.go
  pkg/virtual/framework/dynamic/types.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

wip apiexport identity in vr url
  cmd/virtual-workspaces/command/cmd.go
  pkg/endpointslice/endpointslice.go
  pkg/server/virtualresources/server.go
  pkg/server/virtualresources/virtualresource_apibinding_controller.go
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/builder/forwarding.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/apiexport/options/options.go
  pkg/virtual/framework/virtualresource/context/keys.go
  pkg/virtual/options/options.go
  pkg/virtual/replication/apidomainkey/apidomainkey.go
  pkg/virtual/replication/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

vr server fixes
  pkg/server/virtualresources/openapi.go
  pkg/server/virtualresources/server.go
  pkg/virtual/replication/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup debug printfs
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_controller.go
  pkg/server/virtualresources/server.go
  pkg/virtual/replication/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

removed schema field from CachedResource spec
  config/crds/cache.kcp.io_cachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/server/virtualresources/server.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcespec.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

go.mod with patched kubernetes
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup
  pkg/virtual/replication/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

added example
  x-sharded-cachedresources/01-ws-provider-rw.yaml
  x-sharded-cachedresources/02-apiresourceschema.yaml
  x-sharded-cachedresources/03-apiexport.yaml
  x-sharded-cachedresources/04-ws-consumer-rw.yaml
  x-sharded-cachedresources/05-apibinding.yaml
  x-sharded-cachedresources/06-cowboy.yaml
  x-sharded-cachedresources/07-cr-cowboy.yaml
  x-sharded-cachedresources/07-cr-identity.yaml
  x-sharded-cachedresources/08-apiexport.yaml
  x-sharded-cachedresources/script.sh
  x-sharded-cachedresources/vr-consumer-ro-root/10-ws-consumer-ro.yaml
  x-sharded-cachedresources/vr-consumer-ro-root/11-apibinding.yaml
  x-sharded-cachedresources/vr-consumer-ro-root/12-ws-consumer-ro.yaml
  x-sharded-cachedresources/vr-consumer-ro-root/13-apibinding.yaml
  x-sharded-cachedresources/vr-consumer-ro-shard-1/10-ws-consumer-ro.yaml
  x-sharded-cachedresources/vr-consumer-ro-shard-1/11-apibinding.yaml
  x-sharded-cachedresources/vr-consumer-ro-shard-1/12-ws-consumer-ro.yaml
  x-sharded-cachedresources/vr-consumer-ro-shard-1/13-apibinding.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix GenCachedObjectName in CachedResource replication reconciler
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed acd61ea0f to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: fix some minor typos
  docs/content/concepts/quickstart-tenancy-and-apis.md
  docs/content/contributing/governance/security-self-assessment.md
  docs/content/contributing/guides/rebasing-kubernetes.md
Due: none

Fix sdk/testing panicking when used outside of a kcp clone
  cmd/sharded-test-server/cache.go
  cmd/sharded-test-server/frontproxy.go
  cmd/sharded-test-server/virtual.go
  cmd/test-server/kcp/shard.go
  sdk/testing/helpers/repo.go
  sdk/testing/server/fixture.go
  sdk/testing/server/metrics.go
  test/e2e/framework/flags.go
  test/e2e/framework/kcp.go
  test/e2e/framework/kubectl.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add integrations page
  docs/content/setup/.pages
  docs/content/setup/integrations.md
Due: none

Deployed 4c1f07461 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/quickstart-tenancy-and-apis/index.html
  main/contributing/governance/security-self-assessment/index.html
  main/contributing/guides/rebasing-kubernetes/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

begin docs page with production tips
  docs/content/setup/.pages
  docs/content/setup/production.md
Due: none
