Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

mention HA
  docs/content/setup/production.md
Due: none

Fix object validation
  pkg/virtual/framework/forwardingregistry/store.go
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed e3a81bcf2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 0d641dd2d to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

test/e2e/fixtures/wildwest/client: sherifves -> sheriffs
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/fake/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/fake/wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/fake/fake_sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/fake/fake_wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/wildwest_client.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/generic.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/wildwest/v1alpha1/interface.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/listers/wildwest/v1alpha1/sheriff.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

repl vw: remove shard annotation from wrapped objs
  pkg/virtual/replication/builder/unwrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

vr e2e wip
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add version flag to create workspace plugin
  cli/pkg/workspace/cmd/cmd.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix big when running ws command with kubeconfig flags
  cli/pkg/base/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix unserved schemas
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 02134a2a5 to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Restrict goreleaser run one build at a time
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Download go modules before going into goreleaser
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

free up disk space before running goreleaser
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

use a pre-existing, faster action
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

pin goreleaser to 2.x
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: add general technical review document
  docs/content/contributing/governance/general-technical-review.md
  docs/content/contributing/governance/security-self-assessment.md
Due: none

Fix goreleaser workflow YAML
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix: Remove Unsafe JWT Decoding in WithInClusterServiceAccountRequestRewrite
  pkg/server/filters/serviceaccounts.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: fix code documentation for required-groups annotation
  pkg/authorization/requiredgroups_authorizer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed b93ff632c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add GitHub Admin Team to governance
  GOVERNANCE.md
  MAINTAINERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add lima integration step to doc
  docs/content/setup/integrations.md
Due: none

Add authfixtures.CreateServiceAccount
  test/e2e/fixtures/authfixtures/serviceAccount.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bump kcp-dev/k dependency
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add test for user with warrants
  test/e2e/authorizer/scopes_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add mermaid diagrams to kcp concepts
  docs/content/concepts/terminology.md
Due: none

Update docs for cross-workspace authorization
  docs/content/concepts/authorization/authorizers.md
Due: none

Add tests for cross-workspace authentication in APIBindings
  test/e2e/apibinding/cross_workspace_auth_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add GitHub Admin Team members voted in via mailing list[1]
  MAINTAINERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Revert "refactor: allow for generation of multiple virtual workspace urls"
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

rename corev1alpha1.LogicalClusterFinalizer to LogicalClusterFinalizerName
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  sdk/apis/core/v1alpha1/logicalcluster_types.go
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

post finalizingworkspace urls in workspacetype status
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile.go
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

refactor: allow for generation of multiple virtual workspace urls
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
