Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

WIP: add metrics for logical clusters count
  pkg/server/metrics/metrics.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 4393038d8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Rework tenancy+api quickstart guide to work with kcp 0.28
  docs/content/concepts/quickstart-tenancy-and-apis.md
Due: none

Update "Exporting APIs" page with new v1alpha2 APIs and functionality
  docs/content/concepts/apis/admission-webhooks.md
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/sharding/cache-server.md
Due: none

Update setup/quickstart information with kcp version and chart guide ref
  docs/content/setup/helm.md
  docs/content/setup/quickstart.md
Due: none

Deployed 26c6d826c to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/apis/admission-webhooks/index.html
  main/concepts/apis/exporting-apis/index.html
  main/concepts/quickstart-tenancy-and-apis/index.html
  main/concepts/sharding/cache-server/index.html
  main/search/search_index.json
  main/setup/helm/index.html
  main/setup/quickstart/index.html
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 0ffd69351 to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/concepts/apis/admission-webhooks/index.html
  v0.28/concepts/apis/exporting-apis/index.html
  v0.28/concepts/quickstart-tenancy-and-apis/index.html
  v0.28/concepts/sharding/cache-server/index.html
  v0.28/search/search_index.json
  v0.28/setup/helm/index.html
  v0.28/setup/quickstart/index.html
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update reference to renamed kcp-dev channel (now kcp-users)
  README.md
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  docs/content/index.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

remove unnecessary second allocation of finalizer set
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

correctly name LogicalClusterFinalizer func
  pkg/reconciler/core/logicalclusterdeletion/logicalcluster_deletion_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

simplify type args in logicalcluster deletion
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add e2e test for workspace - logicalcluster deletion
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove owner finalizer deletion in logicalclusterdeletion
  pkg/reconciler/core/logicalclusterdeletion/logicalcluster_deletion_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 5df437fea to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/guides/publishing-a-new-kcp-release/index.html
  main/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Normalize events via claims
  pkg/permissionclaim/permissionclaim_labeler.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 4a33497fa to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 592985b99 to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/contributing/guides/publishing-a-new-kcp-release/index.html
  v0.28/index.html
  v0.28/search/search_index.json
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed dfef4c16c to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add WorkspaceAuthenticationConfiguration
  config/crds/tenancy.kcp.io_workspaceauthenticationconfigurations.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/proxy.go
  sdk/apis/tenancy/v1alpha1/register.go
  sdk/apis/tenancy/v1alpha1/types_workspaceauthentication.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimmappings.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimorexpression.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimvalidationrule.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/extramapping.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/issuer.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/jwtauthenticator.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/prefixedclaimorexpression.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/uservalidationrule.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfigurationspec.go
  sdk/client/applyconfiguration/utils.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/fake/tenancy_client.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/fake/workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/generated_expansion.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/tenancy_client.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/fake/fake_tenancy_client.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/fake/fake_workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/generated_expansion.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/tenancy_client.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/informers/externalversions/generic.go
  sdk/client/informers/externalversions/tenancy/v1alpha1/interface.go
  sdk/client/informers/externalversions/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/listers/tenancy/v1alpha1/expansion_generated.go
  sdk/client/listers/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

WIP: middleware to resolve clusters
  pkg/index/index.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/index/index_controller.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/mapping.go
  pkg/proxy/proxy.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

implement auth controller and auth index
  pkg/proxy/authentication/authentication_controller.go
  pkg/proxy/authentication/index.go
  pkg/proxy/authentication/kube_conversion.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  sdk/client/listers/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add reference to WAC to WorkspaceTypes
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/authenticationconfigurationreference.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add workspaceauth handling to localproxy, enabling a single-shard to also have the feature working
  pkg/server/config.go
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

introduce --enable-workspace-auth flag on FP
  cmd/sharded-test-server/frontproxy.go
  pkg/proxy/authentication/index.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/config.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/options/authentication.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

tweak optionality of some fields
  config/crds/tenancy.kcp.io_workspaceauthenticationconfigurations.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/proxy/lookup/lookup.go
  sdk/apis/tenancy/v1alpha1/types_workspaceauthentication.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove redundant and wrong status code handling
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove Path option for WorkspaceAuthConfig references
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/authenticationconfigurationreference.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix handling for local workspace types
  pkg/index/index.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

only resolve URLs once instead of once per mapping
  pkg/server/proxy/handler.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

keep track of workspace types per logicalcluster in the index
  pkg/index/index.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix shard handling in the index, move code out of pkg/proxy/ to prepare for localproxy
  pkg/authentication/authentication_controller.go
  pkg/authentication/index.go
  pkg/authentication/index_test.go
  pkg/authentication/kube_conversion.go
  pkg/authentication/workspace.go
  pkg/index/index.go
  pkg/proxy/authentication/index.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

turn CLI flag into new WorkspaceAuthentication feature gate
  cmd/kcp-front-proxy/options/options.go
  cmd/sharded-test-server/frontproxy.go
  pkg/features/kcp_features.go
  pkg/proxy/config.go
  pkg/proxy/options/authentication.go
  pkg/proxy/server.go
  sdk/testing/config.go
  sdk/testing/kcp.go
  sdk/testing/server/config.go
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add basic e2e test to ensure custom authentication for a workspace works
  Makefile
  go.mod
  go.sum
  test/e2e/authentication/mockoidc.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update governance: List of maintainers, new roles, security clarifications
  GOVERNANCE.md
  MAINTAINERS.md
  SECURITY.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
