Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Use DynamicRESTMapper for MAP delegates
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add per-policy-cluster TypeConverterManager map for MAP
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bound TypeConverterManager by per-cluster context
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add initializers.WantsClusterContextManager
  pkg/admission/initializers/initializer.go
  pkg/admission/initializers/interfaces.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Share TypeConverterManager across MAP delegates per target cluster
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Only wait for cache sync once
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 4a47e3b43 to v0.32 with MkDocs 1.5.3 and mike 2.1.3
  v0.32/sitemap.xml
  v0.32/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed e1bc2087e to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

/config: rename CachedResource to ClusterCachedResource
  config/crds/cache.kcp.io_clustercachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_clustercachedresources.yaml
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/cluster-cached-resource-identity.yaml
  config/examples/virtualresources/cluster-cached-resource-instances-endpointslice.yaml
  config/examples/virtualresources/cluster-cached-resource-instances.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresources.cache.kcp.io.yaml
  config/system-crds/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

/test: rename CachedResource to ClusterCachedResource
  test/e2e/cache/assets/published-resource-instances.yaml
  test/e2e/cache/replication_api_cache_test.go
  test/e2e/framework/util.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/clustercachedresourceendpointslice/clustercachedresourceendpointslice_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/clustercachedresources/vr_clustercachedresources_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

/docs: rename CachedResource to ClusterCachedResource
  docs/content/concepts/apis/cached-resources.md
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/sharding/cache-server.md
  docs/content/setup/production/overview.md
Due: none

Add auth delegation for apiexport virtual workspace
  pkg/permissionclaim/permissionclaim_labeler.go
  pkg/virtual/apiexport/schemas/builtin/builtin.go
  test/e2e/virtual/apiexport/authdelegation_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire in contrib-dashboard to tilt
  contrib/tilt/README.md
  contrib/tilt/Tiltfile
  contrib/tilt/Tiltfile.static
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

pin to latest release branch version
  test/load/setup/manifests/kcp.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

restored api-conversion implementation
  Makefile
  docs/content/concepts/apis/api-conversion.md
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/apis/index.md
  go.mod
  pkg/admission/apiconversion/apiconversion_admission.go
  pkg/admission/apiconversion/apiconversion_admission_test.go
  pkg/admission/plugins.go
  pkg/cache/server/config.go
  pkg/conversion/conversion_factory.go
  pkg/conversion/conversion_factory_test.go
  pkg/conversion/conversion_rules.go
  pkg/conversion/conversion_rules_test.go
  pkg/conversion/converter.go
  pkg/conversion/converter_test.go
  pkg/conversion/deferred_converter.go
  pkg/conversion/deferred_converter_test.go
  pkg/conversion/embedded_test.go
  pkg/conversion/schema_converter.go
  pkg/conversion/schema_converter_test.go
  pkg/conversion/widgets-crd.yaml
  pkg/features/kcp_features.go
  pkg/server/config.go
  pkg/server/conversion_webhook.go
  test/e2e/apibinding/apibinding_conversion_test.go
  test/e2e/conversion/conversion_test.go
  test/e2e/conversion/resources.yaml
  test/e2e/conversion/v1-widget-no-last-name.yaml
  test/e2e/conversion/v1-widget.yaml
  test/e2e/conversion/v2-widget.yaml
  test/e2e/framework/kcp.go
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pkg/virtual: use a TTLCache for impersonating roundtrippers
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/shared/proxy.go
  pkg/virtual/shared/proxy_test.go
  pkg/virtual/terminatingworkspaces/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add global WebhooksConfiguration
  config/examples/global-admission-webhook/README.md
  config/examples/global-admission-webhook/admission-config.yaml
  config/examples/global-admission-webhook/global-validatingwebhookconfiguration.yaml
  pkg/admission/globalwebhook/plugin.go
  pkg/admission/globalwebhook/plugin_test.go
  pkg/admission/plugins.go
  pkg/index/index_test.go
  pkg/server/options/flags.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add e2e
  test/e2e/admissionwebhook/globalwebhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 499add10d to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

wire in flags
  pkg/admission/globalwebhook/plugin.go
  pkg/server/options/flags.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint
  pkg/admission/globalwebhook/plugin_test.go
  test/e2e/admissionwebhook/globalwebhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add global cluster-aware validating admission webhook
  config/examples/global-admission-webhook/README.md
  config/examples/global-admission-webhook/admission-config.yaml
  config/examples/global-admission-webhook/global-validatingwebhookconfiguration.yaml
  pkg/admission/globalwebhook/plugin.go
  pkg/admission/globalwebhook/plugin_test.go
  pkg/admission/plugins.go
  pkg/server/options/flags.go
  test/e2e/admissionwebhook/globalwebhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 60a28d97a to main with MkDocs 1.5.3 and mike 2.1.3
  main/scripts/version_banner.js
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

display a warning banner for old versions
  docs/overrides/scripts/version_banner.js
Due: none

Deployed 4d8f6ca8b to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.31/scripts/version_banner.js
  v0.31/search/search_index.json
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 735b701c2 to v0.32 with MkDocs 1.5.3 and mike 2.1.3
  v0.32/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.32/scripts/version_banner.js
  v0.32/search/search_index.json
  v0.32/sitemap.xml
  v0.32/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Let cache-server honour --etcd-prefix
  pkg/cache/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d2ce1558a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 4b3420a1a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix tilt usernamePrefix and groupsPrefix
  contrib/tilt/kcp_static.Tiltfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add implementation of Access Virtual Workspace to contrib
  contrib/access-vw/.gitignore
  contrib/access-vw/Dockerfile
  contrib/access-vw/cmd/access-vw/main.go
  contrib/access-vw/cmd/scar-to-kubeconfig/main.go
  contrib/access-vw/config/README.md
  contrib/access-vw/config/apiexport/apiexport.yaml
  contrib/access-vw/config/apiexport/apiresourceschema.yaml
  contrib/access-vw/config/deployment/deployment.yaml
  contrib/access-vw/config/examples/apibinding-consumer.yaml
  contrib/access-vw/config/rbac/seed-rbac-alice.yaml
  contrib/access-vw/config/rbac/seed-rbac-bob.yaml
  contrib/access-vw/docs/README.md
  contrib/access-vw/go.mod
  contrib/access-vw/go.sum
  contrib/access-vw/pkg/accessprovider/provider.go
  contrib/access-vw/pkg/apis/access/v1alpha1/doc.go
  contrib/access-vw/pkg/apis/access/v1alpha1/register.go
  contrib/access-vw/pkg/apis/access/v1alpha1/types.go
  contrib/access-vw/pkg/apis/access/v1alpha1/zz_generated_deepcopy.go
  contrib/access-vw/pkg/generated/openapi/zz_generated.openapi.go
  contrib/access-vw/pkg/graph/graph.go
  contrib/access-vw/pkg/graph/graph_test.go
  contrib/access-vw/pkg/graph/query.go
  contrib/access-vw/pkg/rbacprovider/informers.go
  contrib/access-vw/pkg/rbacprovider/multicluster.go
  contrib/access-vw/pkg/rbacprovider/provider.go
  contrib/access-vw/pkg/rbacprovider/translator.go
  contrib/access-vw/pkg/rbacprovider/translator_test.go
  contrib/access-vw/pkg/server/options.go
  contrib/access-vw/pkg/server/server.go
  contrib/access-vw/pkg/virtual/scar/storage.go
  contrib/access-vw/pkg/virtual/scar/storage_test.go
  contrib/access-vw/pkg/virtual/scar/virtualworkspace.go
  contrib/access-vw/pkg/virtual/virtual.go
  hack/tools.checksums
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: fix out-of-date docs for workspace types
  docs/content/concepts/workspaces/index.md
  docs/content/concepts/workspaces/workspace-types.md
Due: none

Fix some old code issues
  contrib/access-vw/Dockerfile
  contrib/access-vw/cmd/access-vw/main.go
  contrib/access-vw/config/README.md
  contrib/access-vw/docs/README.md
  contrib/access-vw/go.mod
  contrib/access-vw/pkg/graph/graph.go
  contrib/access-vw/pkg/graph/graph_test.go
  contrib/access-vw/pkg/graph/query.go
  contrib/access-vw/pkg/rbacprovider/informers.go
  contrib/access-vw/pkg/rbacprovider/multicluster.go
  contrib/access-vw/pkg/rbacprovider/provider.go
  contrib/access-vw/pkg/rbacprovider/translator.go
  contrib/access-vw/pkg/rbacprovider/translator_test.go
  contrib/access-vw/pkg/server/options.go
  contrib/access-vw/pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix versions
  contrib/access-vw/Dockerfile
  contrib/access-vw/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix boilerplate
  contrib/access-vw/Dockerfile
  contrib/access-vw/cmd/access-vw/main.go
  contrib/access-vw/cmd/scar-to-kubeconfig/main.go
  contrib/access-vw/go.mod
  contrib/access-vw/go.sum
  contrib/access-vw/pkg/accessprovider/provider.go
  contrib/access-vw/pkg/apis/access/v1alpha1/doc.go
  contrib/access-vw/pkg/apis/access/v1alpha1/register.go
  contrib/access-vw/pkg/apis/access/v1alpha1/types.go
  contrib/access-vw/pkg/apis/access/v1alpha1/zz_generated_deepcopy.go
  contrib/access-vw/pkg/graph/graph.go
  contrib/access-vw/pkg/graph/graph_test.go
  contrib/access-vw/pkg/graph/query.go
  contrib/access-vw/pkg/rbacprovider/informers.go
  contrib/access-vw/pkg/rbacprovider/multicluster.go
  contrib/access-vw/pkg/rbacprovider/provider.go
  contrib/access-vw/pkg/rbacprovider/translator.go
  contrib/access-vw/pkg/rbacprovider/translator_test.go
  contrib/access-vw/pkg/server/options.go
  contrib/access-vw/pkg/server/server.go
  contrib/access-vw/pkg/virtual/scar/storage.go
  contrib/access-vw/pkg/virtual/scar/storage_test.go
  contrib/access-vw/pkg/virtual/scar/virtualworkspace.go
  contrib/access-vw/pkg/virtual/virtual.go
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

go version fix
  contrib/access-vw/go.mod
  contrib/access-vw/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add quickstart guide for kcp with kind and helm
  docs/content/setup/.pages
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-docs-quickstart-kind.sh
Due: none
