Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

theory: Sharded fails due to wrong startup order
  cmd/sharded-test-server/main.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 7b87059c0 to v0.29 with MkDocs 1.5.3 and mike 2.1.3
  v0.29/reference/crd/apis.kcp.io/apibindings/index.html
  v0.29/reference/crd/apis.kcp.io/apiexports/index.html
  v0.29/reference/crd/core.kcp.io/shards/index.html
  v0.29/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.29/search/search_index.json
  v0.29/sitemap.xml
  v0.29/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix: use v1alpha2 APIBindings informer in DynamicRESTMapper HasSynced check
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

requeue on not found Logical Cluster while shard is alive
  pkg/reconciler/tenancy/workspace/workspace_reconcile.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix broken links
  docs/content/concepts/workspaces/workspace-termination.md
  docs/content/setup/production/.pages
  docs/content/setup/production/audit-logging.md
Due: none

trim trailing whitespace
  docs/content/GOALS.md
  docs/content/concepts/apis/admission-webhooks.md
  docs/content/concepts/apis/rest-access-patterns.md
  docs/content/concepts/quickstart-tenancy-and-apis.md
  docs/content/concepts/sharding/index.md
  docs/content/concepts/workspaces/mounts.md
  docs/content/contributing/continuous-integration/index.md
  docs/content/contributing/governance/general-technical-review.md
  docs/content/contributing/governance/security-self-assessment.md
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  docs/content/contributing/guides/replicate-new-resource.md
  docs/content/developers/internals/etcd-structure.md
  docs/content/developers/investigations/transparent-multi-cluster.md
  docs/content/developers/storage-to-rest-patterns.md
  docs/content/setup/integrations.md
  docs/content/setup/production/index.md
  docs/content/setup/production/kcp-comer.md
  docs/content/setup/production/overview.md
  docs/content/setup/production/prerequisites.md
  docs/content/setup/sharding.md
  docs/generators/crd-ref/crd.template.md
Due: none

optimize version banner warning in our docs
  docs/mkdocs.yml
  docs/overrides/main.html
  docs/overrides/scripts/version_banner.js
  docs/overrides/stylesheets/version_banner.css
Due: none

fix: send initial-events-end bookmark for CachedResource virtual storage
  pkg/virtual/replication/builder/unwrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Adjust deep sar for SA
  cmd/sharded-test-server/main.go
  go.mod
  go.sum
  pkg/virtual/apiexport/authorizer/maximal_permission_policy.go
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

re-generate phase0 manifests
  config/root-phase0/apiexport-shards.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-shards.core.kcp.io.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d5d4ce252 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add nolint directives
  cmd/cache-server/main.go
  cmd/kcp/options/options.go
  pkg/admission/apiexport/admission.go
  pkg/cache/server/options/options.go
  pkg/network/dialer_linux.go
  pkg/server/config.go
  pkg/virtual/options/options.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/client_generator.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/fake_client_generator.go
  staging/src/github.com/kcp-dev/sdk/testing/server/metrics.go
  test/e2e/authentication/workspace_test.go
  test/e2e/proxy/proxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bump golangci-lint to v2.10.1
  Makefile
  hack/tools.checksums
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix linter issues
  cmd/kcp-front-proxy/options/options.go
  pkg/authentication/index.go
  pkg/authorization/workspace_content_authorizer_test.go
  pkg/features/kcp_features.go
  pkg/informer/informer.go
  pkg/reconciler/apis/logicalclustercleanup/logicalclustercleanup_controller_test.go
  pkg/virtual/framework/dynamic/apiserver/openapi.go
  pkg/virtual/framework/wrappers/rbac/merging.go
  staging/src/github.com/kcp-dev/cli/pkg/bind/plugin/bind.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/generic.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/fuzzer/fuzzer.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/crd_to_apiresourceschema.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/validation_test.go
  staging/src/github.com/kcp-dev/sdk/testing/server/metrics.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/fixtures/authfixtures/authfixtures.go
  test/e2e/framework/kcp.go
  test/e2e/homeworkspaces/home_workspaces_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Disable gosec taint analysis false-positives
  .golangci.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 7e5d4f661 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed bfbfa31b6 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 4e73ead63 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 32e8b9bb9 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

refactor: use ptr.Deref for SendInitialEvents nil check in unwrappingWatch
  pkg/virtual/replication/builder/unwrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 7a3812ca5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

feat(errgroup): add generic ForEach helper
  pkg/errgroup/errgroup.go
  pkg/errgroup/errgroup_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 12d78971a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update Go to 1.25.7
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  docs/content/contributing/getting-started.md
  docs/generators/cli-doc/go.mod
  go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/go.mod
  staging/src/github.com/kcp-dev/sdk/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Rebase kcp-dev/code-generator to Kubernetes 1.35.1
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/factory.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/informer.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/types.go
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  staging/src/github.com/kcp-dev/code-generator/go.mod
  staging/src/github.com/kcp-dev/code-generator/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update code-generator codegen
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/clientset/versioned/fake/clientset.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1alpha1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1alpha1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1beta1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1beta1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v2/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v2/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example3/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example3/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/exampledashed/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/exampledashed/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/existinginterfaces/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/existinginterfaces/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/factory.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/secondexample/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/secondexample/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcpexisting/clients/clientset/versioned/fake/clientset.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcpexisting/clients/informers/externalversions/factory.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Rebase kcp-dev/apimachinery to 1.35.1
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add APIResourceSchema VW
  pkg/virtual/apiresourceschema/authorizer/authorizer.go
  pkg/virtual/apiresourceschema/builder/build.go
  pkg/virtual/apiresourceschema/builder/storage.go
  pkg/virtual/apiresourceschema/doc.go
  pkg/virtual/apiresourceschema/options/options.go
  pkg/virtual/options/options.go
  test/e2e/framework/kcp.go
  test/e2e/virtual/apiresourceschema/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add in-code docs
  pkg/virtual/apiresourceschema/authorizer/authorizer.go
  pkg/virtual/apiresourceschema/builder/build.go
  pkg/virtual/apiresourceschema/builder/storage.go
  pkg/virtual/apiresourceschema/doc.go
  pkg/virtual/apiresourceschema/options/options.go
  test/e2e/virtual/apiresourceschema/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable GSA
  Makefile
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use errgroup.Group
  config/crds/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add helpers.ParseYAML
  config/helpers/yaml.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Parallelise installing root identities
  config/root-identities/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Parallelise installing resources
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add helpers.ChunkObjectsByHierarchy and helpers.SortObjectsByHierarchy
  config/helpers/sort.go
  config/helpers/sort_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use errgroup
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Parallelise installing CRDs in cache server
  pkg/cache/server/bootstrap/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add configcrds.CreateMultiple
  config/crds/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
