Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Wire in thisShard
  pkg/server/aggregatingcrdversiondiscovery/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Handle shard label selectors (#4305)
  pkg/endpointslice/endpointslice.go
  pkg/endpointslice/endpointslice_test.go
  pkg/server/aggregatingcrdversiondiscovery/config.go
  pkg/server/aggregatingcrdversiondiscovery/server.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage.go
  pkg/server/config.go
  pkg/server/virtualresources/config.go
  pkg/server/virtualresources/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed b29a144e8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

restored api-conversion implementation
  Makefile
  docs/content/concepts/apis/api-conversion.md
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/apis/index.md
  go.mod
  pkg/admission/apiconversion/apiconversion_admission.go
  pkg/admission/apiconversion/apiconversion_admission_test.go
  pkg/admission/plugins.go
  pkg/cache/server/config.go
  pkg/conversion/conversion_factory.go
  pkg/conversion/conversion_factory_test.go
  pkg/conversion/conversion_rules.go
  pkg/conversion/conversion_rules_test.go
  pkg/conversion/converter.go
  pkg/conversion/converter_test.go
  pkg/conversion/deferred_converter.go
  pkg/conversion/deferred_converter_test.go
  pkg/conversion/embedded_test.go
  pkg/conversion/schema_converter.go
  pkg/conversion/schema_converter_test.go
  pkg/conversion/widgets-crd.yaml
  pkg/features/kcp_features.go
  pkg/server/config.go
  pkg/server/conversion_webhook.go
  test/e2e/apibinding/apibinding_conversion_test.go
  test/e2e/conversion/conversion_test.go
  test/e2e/conversion/resources.yaml
  test/e2e/conversion/v1-widget-no-last-name.yaml
  test/e2e/conversion/v1-widget.yaml
  test/e2e/conversion/v2-widget.yaml
  test/e2e/framework/kcp.go
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 74ff7c774 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

e2e: fix second EventuallyWithT loop in TestShardMetricsEndpoint to retry properly
  test/e2e/authorizer/shardmetrics_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: skip DynamicRESTMapper CRD mapping until CRD is Established
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add kubectl ws tree --watch Add : prefix to tree view
  staging/src/github.com/kcp-dev/cli/pkg/base/options.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: requeue with backoff instead of silently dropping not-yet-established CRDs
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix local name clash
  cmd/kcp/options/flags.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3d20a5ef1 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix: log at V(4) when enqueueCRDUpdate skips a not-yet-established CRD
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

sdk: remove identityHash field from APIExport.spec.resources[].storage.virtual
  config/crds/apis.kcp.io_apiexports.yaml
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_conversion_test.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastoragevirtual.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

sdk: add virtual fingerprint helpers
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

replace indexers.IndexAPIExportByVirtualResourceIdentities with IndexAPIExportByVirtualResourceFingerprint
  pkg/indexers/apiexport.go
  pkg/server/aggregatingcrdversiondiscovery/server.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

use virtual resource fingerprint on bound CRDs
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage_test.go
  pkg/server/apiextensions.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update e2e
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/clustercachedresources/vr_clustercachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update examples
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/cluster-cached-resource-identity.yaml
  config/examples/virtualresources/cluster-cached-resource-instances.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: fix out-of-date docs for workspace types
  docs/content/concepts/workspaces/index.md
  docs/content/concepts/workspaces/workspace-types.md
Due: none

Deployed 14d848495 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/workspaces/index.html
  main/concepts/workspaces/workspace-types/index.html
  main/reference/cli/create_workspace/index.html
  main/reference/cli/kcp_bind_apiexport/index.html
  main/reference/cli/kcp_claims_accept/index.html
  main/reference/cli/kcp_claims_get_apibinding/index.html
  main/reference/cli/kcp_claims_reject/index.html
  main/reference/cli/kcp_quickstart/index.html
  main/reference/cli/kcp_workspace/index.html
  main/reference/cli/kcp_workspace_create-context/index.html
  main/reference/cli/kcp_workspace_current/index.html
  main/reference/cli/kcp_workspace_tree/index.html
  main/reference/cli/kcp_workspace_use/index.html
  main/reference/cli/workspace/index.html
  main/reference/cli/workspace_create-context/index.html
  main/reference/cli/workspace_current/index.html
  main/reference/cli/workspace_tree/index.html
  main/reference/cli/workspace_use/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

make Fingerprint more specific; moved into pkg/server/virtualresources/helpers
  pkg/indexers/apiexport.go
  pkg/server/apiextensions.go
  pkg/server/virtualresources/helpers/fingerprint.go
  pkg/server/virtualresources/helpers/fingerprint_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire in reference controller
  config/crds/cache.kcp.io_clustercachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresources.cache.kcp.io.yaml
  pkg/indexers/apiexport.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile_replication.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_controller.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_reconcile.go
  pkg/reconciler/cache/clustercachedresources/replication/selection.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  pkg/server/controllers.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_clustercachedresource.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/clustercachedresourcespec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/cache/reference_replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: skip DynamicRESTMapper CRD mapping until CRD is Established (#4322)
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 700868046 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apiexports/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

move to field ownership
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix tests
  test/e2e/cache/reference_replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add names selection to ClusterCachedResource
  config/crds/cache.kcp.io_clustercachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresources.cache.kcp.io.yaml
  pkg/indexers/apiexport.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile_replication.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_controller.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_reconcile.go
  pkg/reconciler/cache/clustercachedresources/replication/selection.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_clustercachedresource.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/clustercachedresourcespec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

review: filter through the whole selection, and test it
  pkg/reconciler/cache/clustercachedresources/replication/selection.go
  pkg/reconciler/cache/clustercachedresources/replication/selection_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add names selection to ClusterCachedResource (#4328)
  config/crds/cache.kcp.io_clustercachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresources.cache.kcp.io.yaml
  pkg/indexers/apiexport.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile.go
  pkg/reconciler/cache/clustercachedresources/clustercachedresources_reconcile_replication.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_controller.go
  pkg/reconciler/cache/clustercachedresources/replication/replication_reconcile.go
  pkg/reconciler/cache/clustercachedresources/replication/selection.go
  pkg/reconciler/cache/clustercachedresources/replication/selection_test.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_clustercachedresource.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/clustercachedresourcespec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add refence controller for APIExports
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/server/controllers.go
  pkg/server/server.go
  test/e2e/cache/reference_replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

review: drop unused synced funcs, add unit tests
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint: parallelize tests, drop needless MustCompile
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add refence controller for APIExports (#4329)
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
  pkg/server/controllers.go
  pkg/server/server.go
  test/e2e/cache/reference_replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 04fcc9232 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

reduce comments
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Retry APIExport references that are not resolvable yet (#4331)
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 940eb677e to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

pkg/server: disable the openapi endpoint for system:bound-crds
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
  pkg/server/openapiv3/servicecache.go
  pkg/server/openapiv3/servicecache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
