Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Add path annotation to apibindings
  pkg/admission/pathannotation/pathannotation_admission.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update to Go 1.24.11
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 446d518a3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

apimachinery 1.34.2
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 27e508dc6 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add warning banner for unreleased branch or version in the documentation
  docs/overrides/main.html
  docs/overrides/stylesheets/crd.css
  docs/scripts/serve-docs.sh
Due: none

Rabse 1.34.2 mvp
  docs/content/contributing/guides/rebasing-kubernetes.md
  go.mod
  go.sum
  pkg/features/kcp_features.go
  pkg/server/config.go
  pkg/server/options/options.go
  pkg/virtual/framework/forwardingregistry/functions.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1beta1/poddisruptionbudget_expansion.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiconversion.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexportendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiresourceschema.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresource.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/logicalcluster.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/shard.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/internal/internal.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/deleteoptions.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/objectmeta.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/typemeta.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspace.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetype.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partition.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partitionset.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/fake/clientset_generated.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/internal/internal.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/meta/v1/deleteoptions.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/meta/v1/objectmeta.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/meta/v1/typemeta.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/utils.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/wildwest/v1alpha1/cowboy.go
  test/e2e/fixtures/wildwest/client/applyconfiguration/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/fake/clientset_generated.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix decorator test
  pkg/authorization/decorator_test.go
  pkg/features/kcp_features.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

make intiator and terminator workspace URLs distinguishable
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile.go
  pkg/reconciler/tenancy/workspacetype/workspacetype_controller_reconcile_test.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/virtualworkspace.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

go mod tidy
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_kcp.go
  staging/src/github.com/kcp-dev/client-go/listers/extensions/v1beta1/replicaset_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1/poddisruptionbudget_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1beta1/poddisruptionbudget_expansion.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove sigs.k8s.io/structured-merge-diff/v4
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/testing/fixture.go
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

headers
  staging/src/github.com/kcp-dev/client-go/listers/extensions/v1beta1/replicaset_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1/poddisruptionbudget_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1beta1/poddisruptionbudget_expansion.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

drop transforming client
  pkg/virtual/framework/transforming/client.go
  pkg/virtual/framework/transforming/transformer.go
  pkg/virtual/framework/transforming/transformer_test.go
  pkg/virtual/framework/transforming/watcher.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix test
  pkg/admission/logicalcluster/admission_test.go
  pkg/admission/workspacetypeexists/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

more test fixing
  pkg/server/options/flags.go
  pkg/virtual/framework/internalapis/fixtures/configmaps.yaml
  pkg/virtual/framework/internalapis/fixtures/namespaces.yaml
  pkg/virtual/framework/internalapis/fixtures/workspaces.yaml
  staging/src/github.com/kcp-dev/cli/pkg/crd/plugin/snapshot_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/validation_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump main k/k
  go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiexport-shards.core.kcp.io.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiexport-topology.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedobjects.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclusters.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-partitions.topology.kcp.io.yaml
  config/root-phase0/apiresourceschema-partitionsets.topology.kcp.io.yaml
  config/root-phase0/apiresourceschema-shards.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaces.tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  docs/content/contributing/guides/rebasing-kubernetes.md
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump golang.org/x dependencies to fix security advisories
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump github.com/opencontainers/selinux
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

move replaces up because they are important, much more important than indirect deps
  go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add cross-workspace implementation for ValidatingAdmissionPolicy
  docs/content/concepts/apis/admission-webhooks.md
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
  test/e2e/conformance/validatingadmissionpolicy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Regen staging
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/cli/pkg/crd/plugin/snapshot_test.go
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/client-go/listers/extensions/v1beta1/replicaset_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1/poddisruptionbudget_expansion.go
  staging/src/github.com/kcp-dev/client-go/listers/policy/v1beta1/poddisruptionbudget_expansion.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/testing/fixture.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/validation_test.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiconversion.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexportendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiresourceschema.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresource.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/logicalcluster.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/shard.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/internal/internal.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/deleteoptions.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/objectmeta.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/meta/v1/typemeta.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspace.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetype.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partition.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partitionset.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/fake/clientset_generated.go
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix scope mappings in DynamicRESTMapper
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_mutable.go
  pkg/reconciler/dynamicrestmapper/typemeta.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed ee31e908c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed b5f250a17 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 1869e2c6c to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/apis/admission-webhooks/index.html
  main/concepts/apis/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

move replaces up because they are important, much more important than indirect deps
  go.mod
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/sdk/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 656901df4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add workspace path to audit event logs
  pkg/cache/server/config.go
  pkg/server/config.go
  pkg/server/filters/filters.go
  test/e2e/audit/policy.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 27a6bb212 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 08fb9eb48 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit
