Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

upgrade to µget 0.3.3, which can handle binaries with versions
  Makefile
  hack/uget.sh
  staging/src/github.com/kcp-dev/client-go/Makefile
  staging/src/github.com/kcp-dev/code-generator/Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix tests not finding httest anymore
  Makefile
  test/e2e/authorizer/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: guide for accessing embedded etcd
  docs/content/contributing/guides/accessing-embedded-etcd.md
Due: none

Order maintainers alphabetically by GitHub handle
  MAINTAINERS.md
  OWNERS
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 3bed7d5fa to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix kcp-dev dependency versions in staging repositories
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use GitHub markdown for warnings in staging READMEs
  staging/src/github.com/kcp-dev/apimachinery/README.md
  staging/src/github.com/kcp-dev/cli/README.md
  staging/src/github.com/kcp-dev/client-go/README.md
  staging/src/github.com/kcp-dev/code-generator/README.md
  staging/src/github.com/kcp-dev/sdk/README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use non-versioned modules for staging repo dependencies
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/sdk/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 2e1131eef to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Revisit monorepo and release docs
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  docs/content/contributing/monorepo.md
Due: none

Deployed 79d71f2ec to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/guides/publishing-a-new-kcp-release/index.html
  main/contributing/monorepo/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix permission claim label not updated when selector changes
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile_test.go
  test/e2e/virtual/apiexport/binding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cd into directory when updating Go modules
  hack/update-go-modules.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed a738325ee to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update api, apimachinery, and client-go to 0.33.5
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update codegen
  docs/generators/cli-doc/go.mod
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

replace NewOrganizationFixture to NewWorkspaceFixture in api binding test
  test/e2e/virtual/apiexport/binding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed c3bb2c7dc to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update affiliation for Mangirdas Judeikis
  MAINTAINERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update code-generator
  docs/generators/cli-doc/go.mod
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update kubernetes to 1.33.5
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d8e87a979 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update µget to 0.4
  hack/uget.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update rebase docs to reflect monorepo
  docs/content/contributing/guides/rebasing-kubernetes.md
Due: none

add workspace clusterID when in interactive mode
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/interactive.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix missing livereload in local-docs makefile target
  docs/requirements.txt
Due: none

Deployed 8dae1f51e to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix bug when trying to delete a cache resource
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 84b6f5bbf to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

reviews updates
  contrib/production/cert-manager/certificate-example.yaml
  contrib/production/oidc-dex/certificate-dns.yaml
  docs/content/setup/production/index.md
  docs/content/setup/production/kcp-comer.md
  docs/content/setup/production/kcp-dekker.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add path to cachedresource api
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  pkg/admission/pathannotation/pathannotation_admission.go
  pkg/admission/pathannotation/pathannotation_admission_test.go
  pkg/openapi/zz_generated.openapi.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_indexers.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile_test.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_endpointslice.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedresource.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcereference.go
  test/e2e/reconciler/cachedresourceendpointslice/cachedresourceendpointslice_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed a6829d3f3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed b4fde00e6 to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/reference/crd/core.kcp.io/logicalclusters/index.html
  v0.28/reference/crd/tenancy.kcp.io/workspaces/index.html
  v0.28/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.28/search/search_index.json
  v0.28/setup/index.html
  v0.28/setup/quickstart/index.html
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 401988d8f to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/search/search_index.json
  v0.28/setup/index.html
  v0.28/setup/quickstart/index.html
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 401988d8f to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add publishing-bot rules for release-0.29
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit
