Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Deployed 000df6e8d to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

pkg/server: add partial metadata DDSIF for cache
  pkg/server/config.go
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

De-flake openapi endpoint test
  test/e2e/openapi/openapi_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add KubeStellar Console integration
  docs/content/setup/integrations.md
Due: none

adopters: add KubeStellar Console
  ADOPTERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

updated tests
  pkg/reconciler/apis/apibinding/apibinding_reconcile_test.go
  pkg/reconciler/committer/committer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pkg/cache: use CachedResource-aware CRD lister
  pkg/cache/server/config.go
  pkg/cache/server/crd_lister.go
  pkg/cache/server/indexes.go
  pkg/cache/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResources now use identity-prefixed resources on the cache-server side
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_finalizer.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_annotations.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_checker.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_identity.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
  pkg/reconciler/cache/cachedresources/indexers.go
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/reconciler/cache/cachedresources/replication/replication_controller.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile_test.go
  pkg/server/controllers.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/register.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/helper/helper.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/register.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedobjects.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedresource.go
  test/e2e/cache/replication_api_cache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResourceEndpointSlice uses a dedicated APIExport reference
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_controller.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile_test.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/server/controllers.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: updated CachedResource sections
  docs/content/concepts/apis/cached-resources.md
  docs/content/concepts/sharding/cache-server.md
Due: none

re-generated code
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedobjectspec.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpoint.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicespec.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/exportbindingreference.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/cache_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/fake/cache_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/fake/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/generated_expansion.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/cache/v1alpha1/cache_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/cache/v1alpha1/fake/fake_cache_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/cache/v1alpha1/fake/fake_cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/cache/v1alpha1/generated_expansion.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/cache/v1alpha1/interface.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/generic.go
  staging/src/github.com/kcp-dev/sdk/client/listers/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/listers/cache/v1alpha1/expansion_generated.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Replication VW: use identity-based requests for cached resources
  cmd/virtual-workspaces/command/cmd.go
  pkg/server/virtual.go
  pkg/virtual/options/options.go
  pkg/virtual/replication/apidomainkey/apidomainkey.go
  pkg/virtual/replication/authorizer/content.go
  pkg/virtual/replication/authorizer/content_test.go
  pkg/virtual/replication/builder/build.go
  pkg/virtual/replication/builder/forwarding.go
  pkg/virtual/replication/builder/unwrap.go
  pkg/virtual/replication/builder/wrap.go
  pkg/virtual/replication/controllers/apireconciler/cachedresource_apireconciler_controller.go
  pkg/virtual/replication/controllers/apireconciler/cachedresource_apireconciler_reconcile.go
  pkg/virtual/replication/options/options.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

DROP: go.mod with k8s fixes
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix race in e2e test
  test/e2e/cache/replication_api_cache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e/cache: check scoped access
  test/e2e/cache/replication_api_cache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix lint
  test/e2e/cache/replication_api_cache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Implement Workspace Lifecycle Content Access Enhancement
  pkg/admission/logicalcluster/admission.go
  pkg/admission/logicalcluster/admission_test.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_metadata.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_metadata_test.go
  pkg/reconciler/tenancy/logicalcluster/logicalcluster_controller.go
  pkg/reconciler/tenancy/replicateclusterrole/replicateclusterrole_controller.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/terminatingworkspaces/builder/build.go
  pkg/virtual/terminatingworkspaces/options/options.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/logicalcluster_types.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.deepcopy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  config/crds/core.kcp.io_logicalclusters.yaml
  config/root-phase0/apiresourceschema-logicalclusters.core.kcp.io.yaml
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/logicalclusterowneruser.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/logicalclusterspec.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix e2e
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix: Added committer SSA
  pkg/reconciler/committer/committer.go
  pkg/reconciler/committer/committer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update to Go 1.25.9
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

test corrections
  pkg/reconciler/committer/committer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add e2e tests
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3e803662f to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix: APIBinding read-modify-write race via Server-Side Apply
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed cc55019db to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/integrations/index.html
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed ff0b5f28d to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

use dedicated namespace in tests
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

use finalizer to block
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

noop: rebuild main tag
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

noop: rebuild main tag (#4006)
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix stale conditions on delete
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletion_controller.go
  pkg/reconciler/core/logicalclusterdeletion/deletion/logicalcluster_resource_deletor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix object poisoning
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

defence filter for etcd poisoning
  pkg/cache/server/config.go
  pkg/server/config.go
  pkg/server/filters/filters.go
  pkg/server/filters/filters_test.go
  pkg/server/localproxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix tests
  test/e2e/reconciler/workspacedeletion/controller_test.go
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump opentelemetry SDK again [CVE-2026-39883]
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump go-jose to 3.0.5 [CVE-2026-34986]
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add poison keys
  hack/etcd-list-poisoned-keys.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

cache crd lister used wrong set of CRs
  pkg/cache/server/crd_lister.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: wait for replication to succeed; move endpoint slice creation to later
  test/e2e/virtual/replication/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
