Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

add --external-logical-cluster-admin for frontproxy framework for SAR requests
  cmd/sharded-test-server/virtual.go
  cmd/virtual-workspaces/command/cmd.go
  cmd/virtual-workspaces/options/options.go
  pkg/server/config.go
  pkg/server/virtual.go
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/initializingworkspaces/builder/build_test.go
  pkg/virtual/initializingworkspaces/options/options.go
  pkg/virtual/options/options.go
  pkg/virtual/terminatingworkspaces/builder/build.go
  pkg/virtual/terminatingworkspaces/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

drop unused cache
  cmd/virtual-workspaces/command/cmd.go
  pkg/server/config.go
  pkg/server/virtual.go
  pkg/virtual/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add aditional validation for WST
  pkg/admission/workspacetype/admission.go
  pkg/admission/workspacetype/admission_test.go
  test/e2e/apibinding/default_apibinding_admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add missing test
  pkg/admission/workspacetype/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 2a476341d to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/reference/crd/core.kcp.io/logicalclusters/index.html
  v0.31/search/search_index.json
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed c58f1b306 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix: honor klog -stderrthreshold when -logtostderr is enabled
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-create-workspace/cmd/kubectlCreateWorkspace.go
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-kcp/cmd/kubectlKcp.go
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-ws/cmd/kubectlWs.go
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/main.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/main.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-lister-gen/main.go
  staging/src/github.com/kcp-dev/code-generator/go.mod
  staging/src/github.com/kcp-dev/code-generator/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: update klog v2.140.0 in all staging modules
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Rework foreign apibinding permissionclaims logic
  pkg/indexers/apibinding.go
  pkg/indexers/apiexport.go
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller_test.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_controller.go
  pkg/server/controllers.go
  test/e2e/apibinding/apibinding_permissionclaims_sharded_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add LFX badges to README
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 8cc366bff to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/core.kcp.io/logicalclusters/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Address review feedback
  pkg/indexers/apibinding.go
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_indexes.go
  pkg/reconciler/apis/apibinding/apibinding_indexes_test.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Apply suggestions from code review
  docs/content/concepts/workspaces/workspace-types-best-practices.md
Due: none

add kcp_workspace_count metric
  pkg/reconciler/tenancy/workspace/workspace_controller.go
  pkg/server/metrics/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3843bcf21 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 922541771 to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/reference/crd/core.kcp.io/logicalclusters/index.html
  v0.31/search/search_index.json
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update run-with-prmetheus to support local dev
  hack/run-with-prometheus.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed f79ae83a0 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed d1be27890 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Simplify phase computation
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove default /services/ mapping in front-proxy during e2e tests
  cmd/sharded-test-server/frontproxy.go
  pkg/proxy/doc.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

adjust load testing pkg names to align with folder
  test/load/testing/example_test.go
  test/load/testing/report.go
  test/load/testing/workspace_creation_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 38653fa80 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Split annotation for multiple-writers
  pkg/admission/crdnooverlappinggvr/crdnooverlappinggvr_admission.go
  pkg/admission/crdnooverlappinggvr/crdnooverlappinggvr_admission_test.go
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile_test.go
  pkg/reconciler/apis/apibinding/logical_cluster_lock.go
  pkg/reconciler/apis/logicalclustercleanup/logicalclustercleanup_controller.go
  pkg/reconciler/apis/logicalclustercleanup/logicalclustercleanup_controller_test.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/virtual/replication/authorizer/content.go
  pkg/virtual/replication/authorizer/content_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add Intializing/Terminating WST RBAC
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  docs/content/concepts/authorization/authorizers.md
  docs/content/concepts/workspaces/workspace-initialization.md
  docs/content/concepts/workspaces/workspace-termination.md
  docs/content/concepts/workspaces/workspace-types.md
  pkg/authorization/bootstrap/policy.go
  pkg/authorization/lifecycle_groups.go
  pkg/authorization/lifecycle_permissions.go
  pkg/authorization/workspace_content_authorizer.go
  pkg/proxy/options/authentication.go
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/initializingworkspaces/builder/build_test.go
  pkg/virtual/initializingworkspaces/builder/proxy.go
  pkg/virtual/initializingworkspaces/options/options.go
  pkg/virtual/options/options.go
  pkg/virtual/terminatingworkspaces/builder/build.go
  pkg/virtual/terminatingworkspaces/builder/build_test.go
  pkg/virtual/terminatingworkspaces/builder/proxy.go
  pkg/virtual/terminatingworkspaces/options/options.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

defer informer creation for vap params
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update vap e2e tests to use params
  test/e2e/conformance/validatingadmissionpolicy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cli: support a --workspace (-w) flag to override the workspace
  staging/src/github.com/kcp-dev/cli/pkg/base/options.go
  staging/src/github.com/kcp-dev/cli/pkg/base/workspaceoverride.go
  staging/src/github.com/kcp-dev/cli/pkg/base/workspaceoverride_test.go
  staging/src/github.com/kcp-dev/cli/pkg/crd/plugin/snapshot.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/options.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/context.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/use.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

restored api-conversion implementation
  go.mod
  pkg/admission/apiconversion/apiconversion_admission.go
  pkg/admission/plugins.go
  pkg/cache/server/config.go
  pkg/cache/server/options/options.go
  pkg/conversion/conversion_factory.go
  pkg/conversion/conversion_factory_test.go
  pkg/conversion/conversion_rules.go
  pkg/conversion/conversion_rules_test.go
  pkg/conversion/converter.go
  pkg/conversion/converter_test.go
  pkg/conversion/deferred_converter.go
  pkg/conversion/deferred_converter_test.go
  pkg/conversion/embedded_test.go
  pkg/conversion/widgets-crd.yaml
  pkg/features/kcp_features.go
  pkg/server/config.go
  pkg/server/options/options.go
  test/e2e/framework/kcp.go
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump to Go 1.25.10
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 8fe273d06 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

don't run VAP tests with params on multi-shard
  test/e2e/conformance/validatingadmissionpolicy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

[release-0.31] bump to Go 1.25.10
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 6418e3737 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update makefile doc to use multiple shards
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add AI coding assistants documentation
  docs/content/contributing/index.md
Due: none

Deployed 2d8dac473 to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
