Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Address review on shard /metrics RBAC
  docs/content/setup/production/metrics.md
  pkg/authorization/shardpaths/paths.go
  pkg/cache/server/handler.go
  pkg/cache/server/handler_test.go
  pkg/server/filters/shardlevelpaths.go
  pkg/server/filters/shardlevelpaths_test.go
  test/e2e/cache/cache_server_authz_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update docs
  docs/content/setup/production/metrics.md
Due: none

Deployed 53a982ad4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix WithCustomArguments overwriting arguments
  staging/src/github.com/kcp-dev/sdk/testing/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use auth-tokens.csv from SDK
  test/e2e/framework/auth-tokens.csv
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use WriteDefaultTokenAuthFile and WithDefaultTokenAuthFile
  cmd/sharded-test-server/main.go
  cmd/test-server/kcp/shard.go
  test/e2e/homeworkspaces/home_workspaces_test.go
  test/e2e/reconciler/cache/replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add WriteDefaultTokenAuthFile and WithDefaultTokenAuthFile
  staging/src/github.com/kcp-dev/sdk/testing/auth-tokens.csv
  staging/src/github.com/kcp-dev/sdk/testing/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 9be6b01a7 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Drop base36/sha224 shard index
  pkg/reconciler/tenancy/workspace/workspace_controller.go
  pkg/reconciler/tenancy/workspace/workspace_indexes.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add LogicalClusterShardAnnotationKey
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/logicalcluster_types.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use kcpcrypto
  pkg/reconciler/tenancy/initialization/apibinder_initializer_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add patch verb to system:kcp:external-logical-cluster-admin RBAC
  pkg/authorization/bootstrap/policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update deprecated shard hash annotation in workspace metadata reconciler
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use corev1alpha1.LogicalClusterShardAnnotationKey in Workspace reconciler
  pkg/reconciler/tenancy/workspace/workspace_reconcile.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add shard annotation on LC creation
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use corev1alpha1.LogicalClusterShardAnnotationKey in sdk/testing
  staging/src/github.com/kcp-dev/sdk/testing/workspaces.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Migrate Workspaces from the deprecated annotation
  pkg/reconciler/tenancy/workspace/workspace_reconcile.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Set corev1alpha1.LogicalClusterShardAnnotationKey on LogicalCluster and parent
  pkg/reconciler/core/logicalcluster/logicalcluster_controller.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_metadata.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_shard.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_shard_test.go
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Keep /livez,/readyz,/healthz workspace-scoped; fix cache e2e status check
  pkg/authorization/shardpaths/paths.go
  pkg/cache/server/handler.go
  pkg/cache/server/handler_test.go
  pkg/server/filters/shardlevelpaths_test.go
  test/e2e/cache/cache_server_authz_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add unscopedRQInformer
  pkg/reconciler/kubequota/unscoped_rq_informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0c22b9b83 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update kubequota controller to be cluster-aware
  pkg/reconciler/kubequota/kubequota_controller.go
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add ctxResourceQuotasClient
  pkg/reconciler/kubequota/ctx_resource_quotas_client.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add unscoped informer factory
  pkg/reconciler/kubequota/unscoped_informer_factory.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bump kube fork
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Ensure quota .status.used is updated
  pkg/reconciler/kubequota/kubequota_controller.go
  pkg/reconciler/kubequota/unscoped_informer_factory.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0e5f5c13c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 25d9bfc5a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add --external-etcd-servers to sharded-test-server
  cmd/sharded-test-server/cache.go
  cmd/sharded-test-server/main.go
  cmd/sharded-test-server/shard.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump to Go 1.25.11
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump to Go 1.26.4
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 179ca74b2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 625817db1 to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Prevent erroneously created configmaps causing opaque test failure
  test/e2e/quota/quota_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add rbac to /metrics (#4165)
  docs/content/setup/production/.pages
  docs/content/setup/production/metrics.md
  pkg/authorization/bootstrap/policy.go
  pkg/authorization/shardpaths/paths.go
  pkg/authorization/workspace_content_authorizer.go
  pkg/authorization/workspace_content_authorizer_test.go
  pkg/cache/server/config.go
  pkg/cache/server/handler.go
  pkg/cache/server/handler_test.go
  pkg/server/config.go
  pkg/server/filters/shardlevelpaths.go
  pkg/server/filters/shardlevelpaths_test.go
  test/e2e/authorizer/shardmetrics_test.go
  test/e2e/cache/cache_server_authz_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed b237d5c30 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add static tilt verion of kcp
  contrib/tilt/README.md
  contrib/tilt/Tiltfile.static
  contrib/tilt/front-proxy.static.yaml
  contrib/tilt/kind-static.sh
  contrib/tilt/shard-root.static.yaml
  contrib/tilt/shard-theseus.static.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

make kubeconfig dir configurable
  contrib/tilt/extract-kubeconfig.bash
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

image override
  contrib/tilt/Tiltfile.static
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit
