Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

test/e2e/fixtures/wildwest/client: sherifves -> sheriffs
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/fake/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/fake/wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/cluster/typed/wildwest/v1alpha1/wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/fake/fake_sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/fake/fake_wildwest_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/wildwest_client.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/generic.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/wildwest/v1alpha1/interface.go
  test/e2e/fixtures/wildwest/client/informers/externalversions/wildwest/v1alpha1/sheriff.go
  test/e2e/fixtures/wildwest/client/listers/wildwest/v1alpha1/sheriff.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add -i flag to workspace command
  cli/go.mod
  cli/go.sum
  cli/pkg/workspace/cmd/cmd.go
  cli/pkg/workspace/plugin/tree.go
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

don't assume sed revision based on OS
  hack/gen-patch-defaultrestmapper.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add workspace mounts docs
  docs/content/concepts/workspaces/.pages
  docs/content/concepts/workspaces/mounts.md
Due: none

add kcp and crossplane talk to references
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

e2e: add CRD helper to wildwest fixture
  test/e2e/fixtures/wildwest/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

reverting 'Add CachedResourceSchemaSource for CachedResource #3553'
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication_test.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource_test.go
  pkg/server/controllers.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

DynamicRESTMapper: add mappings for kcp.io resources
  config/crds/bootstrap.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResources: fix index function name IndexByGVRAndShardAndLogicalClusterAndNamespace
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/reconciler/cache/cachedresources/replication/replication_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add virtual resources support
  pkg/authorization/bootstrap/policy.go
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/endpointslice/endpointslice.go
  pkg/indexers/apibinding.go
  pkg/indexers/apiexport.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_controller.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_indexers.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile_test.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_identity_test.go
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/reconciler/cache/replication/replication_controller.go
  pkg/server/aggregatingcrdversiondiscovery/config.go
  pkg/server/aggregatingcrdversiondiscovery/server.go
  pkg/server/aggregatingcrdversiondiscovery/verbs.go
  pkg/server/apiextensions.go
  pkg/server/config.go
  pkg/server/controllers.go
  pkg/server/indexes.go
  pkg/server/server.go
  pkg/server/virtualresources/config.go
  pkg/server/virtualresources/server.go
  pkg/virtual/framework/virtualresource/context/keys.go
  pkg/virtual/replication/apidomainkey/apidomainkey.go
  pkg/virtual/replication/authorizer/authorizer.go
  pkg/virtual/replication/builder/build.go
  pkg/virtual/replication/builder/build_test.go
  pkg/virtual/replication/builder/unwrap.go
  sdk/apis/apis/v1alpha1/types_apibinding.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
  sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Regenerated code
  config/crds/apis.kcp.io_apiexports.yaml
  config/crds/apis.kcp.io_apiexports.yaml-patch
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_cachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
  sdk/apis/apis/v1alpha2/zz_generated.deepcopy.go
  sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastorage.go
  sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastoragevirtual.go
  sdk/client/applyconfiguration/cache/v1alpha1/apiresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicespec.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/crdschemasource.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: virtual/replication test is superseded by virtualresources/cachedresources
  test/e2e/virtual/replication/apiresourceschema_cowboys_versions.yaml
  test/e2e/virtual/replication/support.go
  test/e2e/virtual/replication/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Start wiring example for VMs
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/apiresourceschema-instances.yaml
  config/examples/virtualresources/apiresourceschema-virtualmachine.yaml
  config/examples/virtualresources/cached-resource-instances.yaml
  config/examples/virtualresources/crd-instances.yaml
  config/examples/virtualresources/instances.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update docs/content/concepts/authorization/authorizers.md
  docs/content/concepts/authorization/authorizers.md
Due: none

add finalizer virtualworkspace
  config/crds/core.kcp.io_logicalclusters.yaml
  config/crds/tenancy.kcp.io_workspaces.yaml
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclusters.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaces.tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/admission/logicalcluster/admission.go
  pkg/openapi/zz_generated.openapi.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_metadata.go
  pkg/reconciler/core/logicalcluster/logicalcluster_reconcile_metadata_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  pkg/virtual/finalizingworkspaces/builder/build.go
  pkg/virtual/finalizingworkspaces/builder/build_test.go
  pkg/virtual/finalizingworkspaces/builder/forwarding.go
  pkg/virtual/finalizingworkspaces/builder/forwarding_test.go
  pkg/virtual/finalizingworkspaces/doc.go
  pkg/virtual/finalizingworkspaces/options/options.go
  pkg/virtual/framework/forwardingregistry/wrappers.go
  pkg/virtual/framework/internalapis/fixtures/workspaces.yaml
  pkg/virtual/options/options.go
  sdk/apis/core/v1alpha1/logicalcluster_types.go
  sdk/apis/core/v1alpha1/zz_generated.deepcopy.go
  sdk/apis/tenancy/finalization/utils.go
  sdk/apis/tenancy/finalization/utils_test.go
  sdk/apis/tenancy/v1alpha1/types_workspace.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/core/v1alpha1/logicalclusterspec.go
  sdk/client/applyconfiguration/core/v1alpha1/logicalclusterstatus.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspacestatus.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  sdk/testing/server/fixture.go
  test/e2e/virtual/finalizingworkspaces/virtualworkspace_test.go
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

experiment: increase timeout on LIST
  test/e2e/virtual/finalizingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

correctly fetch objects in workspace deletion E2E test
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump to latest Kubernetes fork commit
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

redesign how shard-per-workspace-authentication works to allow TokenReviews to be handled
  pkg/authentication/authenticators.go
  pkg/server/config.go
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add test for user with warrants
  test/e2e/authorizer/scopes_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add authfixtures.CreateServiceAccount
  test/e2e/fixtures/authfixtures/serviceAccount.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add tests for cross-workspace authentication in APIBindings
  test/e2e/apibinding/cross_workspace_auth_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update docs for cross-workspace authorization
  docs/content/concepts/authorization/authorizers.md
Due: none

Apply suggestion from @ntnn
  docs/content/concepts/authorization/authorizers.md
Due: none

Deployed 7888cc7f5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authorization/authorizers/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add basic (single-shard only) e2e test to ensure TokenReviews work
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

yolo rss resources up
  .prow.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

ignore /tools
  .gitignore
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

stage apimachinery
  staging/src/github.com/kcp-dev/apimachinery/.github/dependabot.yaml
  staging/src/github.com/kcp-dev/apimachinery/.github/pull_request_template.md
  staging/src/github.com/kcp-dev/apimachinery/.github/workflows/pr-verifier.yaml
  staging/src/github.com/kcp-dev/apimachinery/.gitignore
  staging/src/github.com/kcp-dev/apimachinery/.golangci.yaml
  staging/src/github.com/kcp-dev/apimachinery/.prow.yaml
  staging/src/github.com/kcp-dev/apimachinery/CONTRIBUTING.md
  staging/src/github.com/kcp-dev/apimachinery/DCO
  staging/src/github.com/kcp-dev/apimachinery/LICENSE
  staging/src/github.com/kcp-dev/apimachinery/Makefile
  staging/src/github.com/kcp-dev/apimachinery/OWNERS
  staging/src/github.com/kcp-dev/apimachinery/README.md
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.Dockerfile.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.Makefile.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.generatego.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.go.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.py.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/boilerplate/boilerplate.sh.txt
  staging/src/github.com/kcp-dev/apimachinery/hack/go-install.sh
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/controller.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/controller_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/informers.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/keyfunc.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/keyfunc_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/listers.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/listers_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/cluster_config.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/round_tripper.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/round_tripper_test.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/scoped_shared_informer.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add apimachinery to staging rules
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

update publishing rules
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit
