Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Merge commit from fork
  cmd/sharded-test-server/shard.go
  cmd/sharded-test-server/virtual.go
  pkg/server/config.go
  pkg/server/localproxy.go
  pkg/server/localproxy_test.go
  test/e2e/mounts/mounts_machinery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d0ecac6bb to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 86954e9bf to v0.33 with MkDocs 1.5.3 and mike 2.1.3
  v0.33/reference/crd/apis.kcp.io/apibindings/index.html
  v0.33/reference/crd/apis.kcp.io/apiexports/index.html
  v0.33/reference/crd/core.kcp.io/shards/index.html
  v0.33/search/search_index.json
  v0.33/sitemap.xml
  v0.33/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Merge commit from fork
  pkg/proxy/authheaders/authheaders.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Return NotFound to WatchList clients when a shard does not serve the resource
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/forwardingregistry/rest_test.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/forwardingregistry/store.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add POC for subresources
  config/crds/apis.kcp.io_apiexports.yaml
  go.mod
  pkg/admission/apiexport/admission.go
  pkg/admission/apiexport/subresources_test.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/reconciler/migration/logicalclustermigration/boundcrds.go
  pkg/server/aggregatingcrdversiondiscovery/server.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_crdstorage.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage_test.go
  pkg/server/apiextensions.go
  pkg/server/virtualresources/routing_test.go
  pkg/server/virtualresources/server.go
  pkg/server/virtualresources/server_test.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/replication/controllers/apireconciler/clustercachedresource_apireconciler_reconcile.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/fuzzer/fuzzer.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/types_apibinding.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_conversion.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apidefinition/types.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/discovery.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/discovery_connect_test.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/handler.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/handler_test.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/serving_info.go
  test/e2e/virtualresources/customsubresources/vr_customsubresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add docs
  docs/content/concepts/apis/custom-subresources.md
  docs/content/concepts/apis/exporting-apis.md
Due: none

codegen
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/resourceschema.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix tilt shared cache & oidc
  contrib/tilt/Tiltfile.static
  pkg/cache/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 797c87109 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Subresource cross-claiming
  docs/content/concepts/apis/custom-subresources.md
  pkg/admission/apiexport/admission.go
  pkg/admission/apiexport/subresources_test.go
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/builder/customsubresource.go
  pkg/virtual/apiexport/builder/customsubresource_test.go
  pkg/virtual/apiexport/builder/forwarding.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_identities.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  pkg/virtual/apiexport/controllers/apireconciler/customsubresources_test.go
  test/e2e/virtual/apiexport/customsubresource_test.go
  test/e2e/virtual/apiexport/status_test.go
  test/e2e/virtual/apiexport/support.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix kubeconfig groups in tilt
  contrib/tilt/helpers.py
  contrib/tilt/kcp_static.Tiltfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

many many many fixes later
  cmd/cache-syncer/main.go
  config/system-crds/bootstrap.go
  pkg/cache/server/config.go
  pkg/cache/server/controllers.go
  pkg/cache/server/server.go
  pkg/cache/syncer/bootstrap.go
  pkg/cache/system.go
  pkg/index/index.go
  pkg/proxy/index/index_controller.go
  pkg/proxy/server.go
  pkg/reconciler/cache/replication/replication_controller.go
  pkg/reconciler/cache/syncer/replication/gvr_controller.go
  pkg/reconciler/cache/syncer/replication/root_controller.go
  pkg/server/server.go
  pkg/virtual/admin/builder/forwarding.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix getter
  pkg/virtual/apiexport/builder/customsubresource.go
  pkg/virtual/apiexport/builder/customsubresource_test.go
  pkg/virtual/apiexport/builder/forwarding.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix labels
  pkg/admission/apibinding/apibinding_admission.go
  pkg/admission/apibinding/replicated_claims_test.go
  pkg/permissionclaim/cachedresource.go
  pkg/permissionclaim/cachedresource_test.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  test/e2e/virtual/apiexport/claimedcachedresource_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix subresource path
  pkg/virtual/apiexport/builder/customsubresource.go
  pkg/virtual/apiexport/builder/customsubresource_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: accept more than two shards
  test/e2e/apibinding/apibinding_test.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add e2e test for migration of an already migrating logical cluster
  test/e2e/logicalclustermigration/migration_abort_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add SNCF group as adopter
  ADOPTERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add finalizer on LogicalClusterMigration while migration is in progress
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/reconciler/migration/logicalclustermigration/reconciler_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix review comments
  pkg/indexers/apiexport.go
  pkg/permissionclaim/permissionclaim_labeler.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_resource_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

temp: test out plugins
  pkg/admission/plugins.go
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Drop cancelled per-cluster context when a logical cluster migrates away
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/server/controllers.go
  test/e2e/logicalclustermigration/migration_roundtrip_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 5bb8766d8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

initial (temporary) commit to migrate to zensical
  docs/.python-version
  docs/content/concepts/authorization/index.md
  docs/content/concepts/index.md
  docs/content/concepts/miscellaneous/index.md
  docs/content/concepts/sharding/index.md
  docs/content/developers/index.md
  docs/content/reference/index.md
  docs/pyproject.toml
  docs/uv.lock
Due: none

docs: manage Python dependencies with uv
  docs/.gitignore
  docs/pyproject.toml
  docs/requirements.txt
  docs/uv.lock
Due: none

docs: port site configuration and navigation to zensical
  docs/content/.nav.yml
  docs/content/concepts/.nav.yml
  docs/content/concepts/apis/index.md
  docs/content/concepts/authentication/index.md
  docs/content/concepts/authorization/index.md
  docs/content/concepts/index.md
  docs/content/concepts/miscellaneous/index.md
  docs/content/concepts/sharding/.nav.yml
  docs/content/concepts/sharding/index.md
  docs/content/concepts/workspaces/.nav.yml
  docs/content/concepts/workspaces/index.md
  docs/content/contributing/.nav.yml
  docs/content/developers/.nav.yml
  docs/content/developers/controllers/.nav.yml
  docs/content/developers/index.md
  docs/content/developers/investigations/index.md
  docs/content/reference/.nav.yml
  docs/content/reference/index.md
  docs/content/setup/.nav.yml
  docs/content/setup/index.md
  docs/content/setup/production/.nav.yml
  docs/main.py
  docs/mkdocs.yml
  docs/overrides/partials/section-overview.html
Due: none

docs: build and publish docs with zensical and uv
  .github/workflows/docs-gen-and-push.yaml
  Makefile
  Makefile.venv
  docs/scripts/serve-docs.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: update documentation setup README for zensical
  docs/README.md
Due: none

docs: fix mermaid rendering by removing duplicate superfences
  docs/mkdocs.yml
Due: none

docs: enable pymdownx.tasklist
  docs/mkdocs.yml
Due: none

docs: fix integrations page rendering without macros plugin
  docs/content/setup/integrations.md
Due: none

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
