Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Deployed ef6b425b3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Implement support for verbs in PermissionClaims
  cli/pkg/workspace/plugin/use.go
  config/crds/apis.kcp.io_apibindings.yaml
  config/crds/apis.kcp.io_apiexports.yaml
  pkg/admission/apibinding/apibinding_admission.go
  pkg/admission/apibinding/apibinding_admission_test.go
  pkg/admission/apiexport/admission.go
  pkg/admission/apiexport/admission_test.go
  pkg/openapi/zz_generated.openapi.go
  pkg/virtual/apiexport/authorizer/binding.go
  pkg/virtual/apiexport/authorizer/binding_test.go
  pkg/virtual/apiexport/builder/build.go
  sdk/apis/apis/fuzzer/fuzzer.go
  sdk/apis/apis/v1alpha2/permissionclaims/labels.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
  sdk/apis/apis/v1alpha2/types_apiexport_conversion.go
  sdk/apis/apis/v1alpha2/types_apiexport_conversion_test.go
  sdk/apis/apis/v1alpha2/zz_generated.conversion.go
  sdk/apis/apis/v1alpha2/zz_generated.deepcopy.go
  sdk/apis/roundtrip_test.go
  sdk/client/applyconfiguration/apis/v1alpha2/acceptablepermissionclaim.go
  sdk/client/applyconfiguration/apis/v1alpha2/permissionclaim.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_permissionclaims_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 781422015 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apibindings/index.html
  main/reference/crd/apis.kcp.io/apiexports/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add test for serializers
  test/e2e/serializers/serializers_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add kcp-specific code
  test/e2e/serializers/serializers_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

skip protobuf for kcp
  test/e2e/serializers/serializers_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Replace require.Eventually with kcptestinghelpers.Eventually
  test/e2e/apibinding/apibinding_webhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Configure tests to listen on localhost
  cmd/sharded-test-server/cache.go
  cmd/sharded-test-server/frontproxy.go
  cmd/sharded-test-server/main.go
  cmd/sharded-test-server/virtual.go
  cmd/test-server/kcp/shard.go
  sdk/testing/config.go
  sdk/testing/kcp.go
  sdk/testing/server/config.go
  sdk/testing/server/fixture.go
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Set ExternalAddress based on listener address
  pkg/server/config.go
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Start webhooks on the same address as the server
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/conformance/webhook_test.go
  test/e2e/fixtures/webhook/webhook.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Pass BindAddress to GenericControlPlane.Complete as alternateDNS and IP
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Expose underlying server struct
  sdk/testing/server/external.go
  sdk/testing/server/fixture.go
  sdk/testing/server/interface.go
  test/e2e/framework/inprocess.go
  test/integration/framework/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Disable notice on `--short`
  cli/pkg/workspace/plugin/use.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 276e0d3ec to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Close etcd after kcp
  test/e2e/framework/inprocess.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Point PermissionClaim verbs test to the correct workspace
  test/e2e/virtual/apiexport/binding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: added checks for logicalcluster annotation for in-review objs in admission webhooks
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/conformance/webhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: added description for admission webhooks
  docs/content/concepts/apis/admission-webhooks.md
Due: none

e2e/apibinding: test webhook in source ws too
  test/e2e/apibinding/apibinding_webhook_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e/fixtures/webhook: pass the parsed obj to ResponseFn
  test/e2e/fixtures/webhook/webhook.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Disable deprecated APIExport VirtualWorkspace url population
  Makefile
  pkg/features/kcp_features.go
  pkg/reconciler/apis/apiexport/apiexport_controller.go
  pkg/reconciler/apis/apiexport/apiexport_controller_test.go
  pkg/reconciler/apis/apiexport/apiexport_reconcile.go
  pkg/server/controllers.go
  pkg/server/server.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/framework/util.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3037f918a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Disable APIExport VW url population and precreate EndpointSlice for it
  pkg/features/kcp_features.go
  pkg/reconciler/apis/apiexport/apiexport_controller.go
  pkg/reconciler/apis/apiexport/apiexport_controller_test.go
  pkg/reconciler/apis/apiexport/apiexport_reconcile.go
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update tests for changed beahviour
  Makefile
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/framework/util.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add verbs bundle validation
  pkg/admission/apiexport/admission.go
  pkg/admission/apiexport/admission_test.go
  test/e2e/apiexport/apiexport_verbs_test.go
  test/e2e/virtual/apiexport/binding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

include hierarchy and overall workflow for initializer docs
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

clarify function arguments for CommitFunc
  pkg/reconciler/committer/committer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable tabs for docs
  docs/mkdocs.yml
Due: none

code-sample for workspace initializer
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

replace go-install.sh with a new script that focuses on downloading binaries
  Makefile
  hack/download-tool.sh
  hack/go-install.sh
  hack/update-codegen-crds.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Serve both v1alpha1 and v1alpha2 APIBindings in APIExport VW
  pkg/virtual/apiexport/builder/build.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix virutal workspace OpenAPI v3 endpoint panics
  pkg/virtual/framework/dynamic/apiserver/openapi.go
  test/e2e/virtual/apiexport/apiresourceschema_cowboys_versions.yaml
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 973ea74ea to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add APIExport annotation to skip APIExportEndpointSlice creation
  pkg/reconciler/apis/apiexport/apiexport_controller_test.go
  pkg/reconciler/apis/apiexport/apiexport_reconcile.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Delete setting kcptestingserver.ContextRunInProcessFunc in e2e
  test/e2e/framework/inprocess.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
