Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

update publishing rules, enable git tags
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

switch publishing rules to use main branch
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add replace directives in go.mods
  cli/go.mod
  cli/go.sum
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Ignore staging/src in boilerplate check for now
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Copy staging repository go.mod files into early build stage
  Dockerfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix linting issues in github.com/kcp-dev/apimachinery staging repository
  .golangci.yaml
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/controller.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/controller_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/informers.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/keyfunc.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/keyfunc_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/listers.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/listers_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/cluster_config.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix linting issues in github.com/kcp-dev/client-go staging repository
  .golangci.yaml
  staging/src/github.com/kcp-dev/client-go/dependencies.go
  staging/src/github.com/kcp-dev/client-go/discovery/clientset.go
  staging/src/github.com/kcp-dev/client-go/discovery/interface.go
  staging/src/github.com/kcp-dev/client-go/dynamic/clientset.go
  staging/src/github.com/kcp-dev/client-go/dynamic/dynamicinformer/informer.go
  staging/src/github.com/kcp-dev/client-go/dynamic/dynamiclister/interface.go
  staging/src/github.com/kcp-dev/client-go/dynamic/dynamiclister/lister.go
  staging/src/github.com/kcp-dev/client-go/dynamic/dynamiclister/shim.go
  staging/src/github.com/kcp-dev/client-go/dynamic/interface.go
  staging/src/github.com/kcp-dev/client-go/metadata/clientset.go
  staging/src/github.com/kcp-dev/client-go/metadata/interface.go
  staging/src/github.com/kcp-dev/client-go/metadata/metadatainformer/informer.go
  staging/src/github.com/kcp-dev/client-go/metadata/metadatalister/interface.go
  staging/src/github.com/kcp-dev/client-go/metadata/metadatalister/lister.go
  staging/src/github.com/kcp-dev/client-go/metadata/metadatalister/shim.go
  staging/src/github.com/kcp-dev/client-go/scale/clientset.go
  staging/src/github.com/kcp-dev/client-go/scale/interface.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Skip staging repository linting for now
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

increase timeout for multiple-runs e2e test
  .prow.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d7c8e2263 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update to Go 1.24.8
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d4dbbdbc3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add -i flag to workspace command
  cli/go.mod
  cli/go.sum
  cli/pkg/workspace/cmd/cmd.go
  cli/pkg/workspace/plugin/interactive.go
  cli/pkg/workspace/plugin/tree.go
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix cache server replication
  pkg/reconciler/cache/replication/replication_reconcile_unstructured.go
  pkg/reconciler/cache/replication/replication_reconcile_unstructured_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update shard validation
  pkg/admission/shard/admission.go
  pkg/admission/shard/admission_test.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup prom config
  sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

POC reduce test prometheus verbosity
  sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add docker build image for local dev.
  hack/build-image-docker.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

wire in CA-bundle flag
  pkg/server/config.go
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 7338dfee2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Enable publish PR images
  .prow.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

publish PR images
  .prow.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

DynamicRESTMapper: add mapping for core k8s and kcp types
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_mutable.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_builtin_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_dynamic_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
  pkg/reconciler/dynamicrestmapper/forcluster.go
  pkg/server/controllers.go
  pkg/server/server.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Document monorepo structure
  docs/content/contributing/.pages
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  docs/content/contributing/index.md
  docs/content/contributing/monorepo.md
Due: none

Deployed 20ef4020c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 8181da087 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

CachedResources: fix index function name IndexByGVRAndShardAndLogicalClusterAndNamespace
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/reconciler/cache/cachedresources/replication/replication_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: add CRD helper to wildwest fixture
  test/e2e/fixtures/wildwest/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

reverting 'Add CachedResourceSchemaSource for CachedResource #3553'
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schema_replication_test.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_schemasource_test.go
  pkg/server/controllers.go
  sdk/apis/cache/v1alpha1/types_cachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add virtual resources support
  config/crds/apis.kcp.io_apiexports.yaml-patch
  pkg/authorization/bootstrap/policy.go
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/endpointslice/endpointslice.go
  pkg/indexers/apibinding.go
  pkg/indexers/apiexport.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_controller.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_indexers.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointslice/cachedresourceendpointslice_reconcile_test.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_controller.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_identity_test.go
  pkg/reconciler/cache/cachedresources/replication/indexers.go
  pkg/reconciler/cache/replication/replication_controller.go
  pkg/server/aggregatingcrdversiondiscovery/config.go
  pkg/server/aggregatingcrdversiondiscovery/server.go
  pkg/server/aggregatingcrdversiondiscovery/verbs.go
  pkg/server/apiextensions.go
  pkg/server/config.go
  pkg/server/controllers.go
  pkg/server/indexes.go
  pkg/server/server.go
  pkg/server/virtualresources/config.go
  pkg/server/virtualresources/server.go
  pkg/virtual/framework/virtualresource/context/keys.go
  pkg/virtual/replication/apidomainkey/apidomainkey.go
  pkg/virtual/replication/authorizer/authorizer.go
  pkg/virtual/replication/builder/build.go
  pkg/virtual/replication/builder/build_test.go
  pkg/virtual/replication/builder/unwrap.go
  sdk/apis/apis/v1alpha1/types_apibinding.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
  sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Regenerated code
  config/crds/apis.kcp.io_apiexports.yaml
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_cachedresources.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresources.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
  sdk/apis/apis/v1alpha2/zz_generated.deepcopy.go
  sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastorage.go
  sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastoragevirtual.go
  sdk/client/applyconfiguration/cache/v1alpha1/apiresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicespec.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceschemasource.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/crdschemasource.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Start wiring example for VMs
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/apiresourceschema-instances.yaml
  config/examples/virtualresources/apiresourceschema-virtualmachine.yaml
  config/examples/virtualresources/cached-resource-instances.yaml
  config/examples/virtualresources/crd-instances.yaml
  config/examples/virtualresources/instances.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: virtual/replication test is superseded by virtualresources/cachedresources
  test/e2e/virtual/replication/apiresourceschema_cowboys_versions.yaml
  test/e2e/virtual/replication/support.go
  test/e2e/virtual/replication/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

turn cluster resolver middleware into a mux that can recognize cluster names in path mappings
  cmd/sharded-test-server/frontproxy.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/mapping.go
  pkg/proxy/server.go
  pkg/server/localproxy.go
  pkg/server/proxy/handler.go
  pkg/server/proxy/types/mapping.go
  pkg/server/proxy/types/mapping_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add e2e test to ensure cluster context is set
  cmd/sharded-test-server/frontproxy.go
  test/e2e/authentication/workspace_test.go
  test/e2e/proxy/proxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix APIEndpointExportSlices created by APIExport not being recreated
  pkg/reconciler/apis/apiexport/apiexport_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
