Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

docs: address review nits for kind quickstart guide
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-docs-quickstart-kind.sh
Due: none

handle deletion of workspace while in migration
  config/crds/migration.kcp.io_logicalclustermigrations.yaml
  config/root-phase0/apiexport-migration.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclustermigrations.migration.kcp.io.yaml
  pkg/reconciler/core/logicalclusterdeletion/logicalcluster_deletion_controller.go
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/server/filters/migratinglogicalcluster.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclustermigration.go
  test/e2e/logicalclustermigration/migration_abort_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix restMapper
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add fallback wrapper
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_fallback.go
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_kcp.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
  pkg/reconciler/dynamicrestmapper/forcluster.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 8b3b4240e to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

pkg/virtual: use system identity for system initializers
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/initializingworkspaces/builder/build_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add documentation for the system workspaces
  docs/content/concepts/workspaces/.pages
  docs/content/concepts/workspaces/system-workspaces.md
  docs/content/concepts/workspaces/workspace-types.md
Due: none

Bound how far a virtual resource request may be forwarded
  pkg/server/virtualresources/server.go
  pkg/virtual/apiexport/builder/build.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/hops/hops.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/hops/hops_test.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/rootapiserver/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Share one endpoint type across endpoint slices, with a shard selector
  config/crds/apis.kcp.io_apiexportendpointslices.yaml
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  pkg/reconciler/apis/apiexportendpointsliceurls/apiexportendpointsliceurls_reconcile.go
  pkg/reconciler/cache/cachedresourceendpointsliceurls/cachedresourceendpointsliceurls_reconciler.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/types_apiexportendpointslice.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/endpoint_types.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexportendpoint.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexportendpointslicestatus.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpoint.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicestatus.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/endpoint.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/endpointselector.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed e844c4f60 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apiexportendpointslices/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 60e1f8317 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Forward the caller's identity to virtual workspaces
  pkg/proxy/authheaders/authheaders.go
  pkg/server/virtualresources/server.go
  pkg/server/virtualresources/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed fc9691c4d to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Revert "Forward the caller's identity to virtual workspaces"
  pkg/proxy/authheaders/authheaders.go
  pkg/server/virtualresources/server.go
  pkg/server/virtualresources/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump cel-go to 0.29.0 [GHSA-gcjh-h69q-9w9g]
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump grpc to 1.82.1 [GHSA-hrxh-6v49-42gf]
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump golang.org/x/net to 0.55.0 [CVE-2026-25680] in examples/tests
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  test/controller-runtime/go.mod
  test/controller-runtime/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Revert "Forward the caller's identity to virtual workspaces" (#4307)
  pkg/proxy/authheaders/authheaders.go
  pkg/server/virtualresources/server.go
  pkg/server/virtualresources/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 64e05b880 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

lint
  pkg/server/virtualresources/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed b9b9893ff to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

cli/pkg/base/options.go: don't disable any CLI options
  staging/src/github.com/kcp-dev/cli/pkg/base/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pkg/admission: block WS creation if user cannot bind to default exports
  pkg/admission/apibinding/binding_permissions.go
  pkg/admission/workspacetype/admission.go
  pkg/admission/workspacetypeexists/admission.go
  pkg/admission/workspacetypeexists/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

/test: rename CachedResource to ClusterCachedResource
  test/e2e/cache/assets/published-resource-instances.yaml
  test/e2e/cache/replication_api_cache_test.go
  test/e2e/framework/util.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/clustercachedresourceendpointslice/clustercachedresourceendpointslice_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/clustercachedresources/vr_clustercachedresources_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

/docs: rename CachedResource to ClusterCachedResource
  docs/content/concepts/apis/cached-resources.md
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/sharding/cache-server.md
  docs/content/setup/production/overview.md
Due: none

/config: rename CachedResource to ClusterCachedResource
  config/crds/cache.kcp.io_clustercachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_clustercachedresources.yaml
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/cluster-cached-resource-identity.yaml
  config/examples/virtualresources/cluster-cached-resource-instances-endpointslice.yaml
  config/examples/virtualresources/cluster-cached-resource-instances.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresourceendpointslices.cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-clustercachedresources.cache.kcp.io.yaml
  config/system-crds/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Let an endpoint say which shards its URL serves
  pkg/endpointslice/endpointslice.go
  pkg/endpointslice/endpointslice_test.go
  pkg/server/aggregatingcrdversiondiscovery/config.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage.go
  pkg/server/config.go
  pkg/server/virtualresources/config.go
  pkg/server/virtualresources/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix LC flakes
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 91d39aa98 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/workspaces/object-count-limit/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 60b240637 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

I think we dont need this code, dont we?
  config/crds/apis.kcp.io_apiexports.yaml
  pkg/indexers/apiexport.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage.go
  pkg/server/aggregatingcrdversiondiscovery/verbs_provider_virtualstorage_test.go
  pkg/server/apiextensions.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_conversion_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apiexport_test.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/resourceschemastoragevirtual.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 46d2a1ca2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deflake TestKubeQuotaQuotaLifecycle
  test/e2e/quota/quota_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add fake create/delete to nuge the test
  test/e2e/quota/quota_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

extend testing framework (#4308)
  staging/src/github.com/kcp-dev/sdk/testing/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
