Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Add Upbound as adopter as per #3449
  ADOPTERS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update governance to be explicit about vendor-neutrality and CoC violations
  GOVERNANCE.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Reorganize contributing section and document community roles correctly
  docs/content/contributing/coding.md
  docs/content/contributing/continuous-integration/github_summary.png
  docs/content/contributing/continuous-integration/index.md
  docs/content/contributing/continuous-integration/inspecting-e2e-metrics.md
  docs/content/contributing/continuous-integration/promecieus.png
  docs/content/contributing/continuous-integration/prow_link.png
  docs/content/contributing/getting-started.md
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  docs/content/contributing/guides/rebasing-kubernetes.md
  docs/content/contributing/guides/replicate-new-resource.md
  docs/content/contributing/index.md
  docs/content/index.md
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Use DynamicRESTMapper with CachedResource reconciler
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed ed8e85d8b to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 824d91d4e to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/apis/admission-webhooks/index.html
  main/concepts/apis/exporting-apis/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Bump github.com/golang-jwt/jwt/v4 to 4.5.2
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable fatcontext
  .golangci.yaml
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

prealloc suddenly complained about new issues
  cmd/sharded-test-server/main.go
  pkg/virtual/framework/forwardingregistry/store_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable sloppyReassign
  cmd/sharded-test-server/cache.go
  sdk/testing/third_party/library-go/crypto/crypto.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable regexpSimplify
  sdk/cmd/help/doc.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable filepathJoin
  .golangci.yaml
  cmd/sharded-test-server/frontproxy.go
  cmd/sharded-test-server/main.go
  cmd/sharded-test-server/shard.go
  cmd/sharded-test-server/virtual.go
  cmd/test-server/main.go
  pkg/server/filters/filters_test.go
  test/e2e/audit/audit_log_test.go
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

do not enable, but improve one spot appendAssign found
  .golangci.yaml
  test/e2e/apibinding/default_apibinding_test.go
  test/integration/framework/goleak.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup ci config a bit more
  .golangci.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix a bunch of typos
  .typos.toml
  GOVERNANCE.md
  Makefile
  docs/content/concepts/authorization/authorizers.md
  docs/content/concepts/sharding/shards.md
  docs/content/concepts/workspaces/workspace-types.md
  docs/content/contributing/index.md
  pkg/admission/workspace/admission.go
  pkg/authorization/workspace_content_authorizer_test.go
  pkg/network/dialer.go
  pkg/network/dialer_linux.go
  pkg/network/dialer_other.go
  pkg/reconciler/apis/apibinding/logical_cluster_lock.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_controller.go
  pkg/reconciler/cache/cachedresources/cachedresources_finalizer.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  pkg/server/apiextensions_test.go
  pkg/server/filters/impersonation.go
  pkg/server/filters/impersonation_test.go
  pkg/virtual/apiexport/authorizer/binding.go
  pkg/virtual/framework/rootapiserver/config.go
  sdk/apis/apis/group.go
  sdk/apis/core/v1alpha1/logicalcluster_types.go
  sdk/apis/roundtrip_test.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  test/e2e/reconciler/workspacedeletion/controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update controller-gen to 0.18
  Makefile
  config/crds/apis.kcp.io_apibindings.yaml
  config/crds/apis.kcp.io_apiconversions.yaml
  config/crds/apis.kcp.io_apiexportendpointslices.yaml
  config/crds/apis.kcp.io_apiexports.yaml
  config/crds/apis.kcp.io_apiresourceschemas.yaml
  config/crds/cache.kcp.io_cachedobjects.yaml
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/crds/cache.kcp.io_cachedresources.yaml
  config/crds/core.kcp.io_logicalclusters.yaml
  config/crds/core.kcp.io_shards.yaml
  config/crds/tenancy.kcp.io_workspaces.yaml
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/crds/topology.kcp.io_partitions.yaml
  config/crds/topology.kcp.io_partitionsets.yaml
  test/e2e/fixtures/wildwest/wildwest.dev_cowboys.yaml
  test/e2e/fixtures/wildwest/wildwest.dev_sheriffs.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update gotestsum to 1.12.3
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump logcheck to 0.9
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 8c815d74d to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authorization/authorizers/index.html
  main/concepts/sharding/shards/index.html
  main/concepts/workspaces/workspace-types/index.html
  main/contributing/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 612108bc4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Start using dymanic rest mapper.
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
  pkg/reconciler/cache/cachedresources/replication/replication_controller.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_controller.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_reconcile_updater.go
  pkg/server/controllers.go
  sdk/apis/tenancy/v1alpha1/types_workspace.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed f9221d795 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add references on docs landing page to other projects
  README.md
  docs/content/index.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add footer link to YouTube
  docs/mkdocs.yml
Due: none

CachedResource replication reconciler should retry on AlreadyExists
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResource replication reconciler takes namespaces into account
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResource replication reconciler relies on supplied GVR
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
  pkg/reconciler/cache/cachedresources/replication/replication_controller.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add a bundled crds to the release
  .goreleaser.yaml
  config/crds/crd-bundler.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Handle missing APIExport
  pkg/authorization/maximal_permission_policy_authorizer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add test deleting APIExport before APIBinding and descendants
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix virutal workspace OpenAPI v3 endpoint panics
  pkg/virtual/framework/dynamic/apiserver/openapi.go
  test/e2e/virtual/apiexport/apiresourceschema_cowboys_versions.yaml
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d2eb197f7 to v0.27 with MkDocs 1.5.3 and mike 2.1.3
  v0.27/reference/crd/apis.kcp.io/apibindings/index.html
  v0.27/reference/crd/apis.kcp.io/apiexports/index.html
  v0.27/reference/crd/tenancy.kcp.io/workspaces/index.html
  v0.27/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.27/search/search_index.json
  v0.27/sitemap.xml
  v0.27/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add section on MaximalPermissionPolicy when an APIExport is deleted
  sdk/apis/apis/v1alpha1/types_apiexport.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  config/crds/apis.kcp.io_apiexports.yaml
  pkg/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Delegate to next authorizer if APIExport is not found
  pkg/authorization/maximal_permission_policy_authorizer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 90c613a83 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apiexports/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit
