Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Bump kcp-dev/k to v1.36.0 rebase
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.sum
  test/load/go.mod
  test/load/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 8a0a6c159 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Terser authentication logic in front-proxy
  pkg/proxy/config.go
  pkg/proxy/filters/filters.go
  pkg/proxy/options/authentication.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 03a47b26b to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/getting-started/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix ws tree with clusters url
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 635ae3eb3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix: honor klog -stderrthreshold when -logtostderr is enabled
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-create-workspace/cmd/kubectlCreateWorkspace.go
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-kcp/cmd/kubectlKcp.go
  staging/src/github.com/kcp-dev/cli/cmd/kubectl-ws/cmd/kubectlWs.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/main.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/main.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-lister-gen/main.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update k8s replacements in virtual-workspace-framework as well
  hack/bump-k8s.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 053c9f14c to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authorization/authorizers/index.html
  main/concepts/workspaces/workspace-initialization/index.html
  main/concepts/workspaces/workspace-termination/index.html
  main/concepts/workspaces/workspace-types/index.html
  main/reference/cli/create_workspace/index.html
  main/reference/cli/kcp/index.html
  main/reference/cli/kcp_bind/index.html
  main/reference/cli/kcp_bind_apiexport/index.html
  main/reference/cli/kcp_claims/index.html
  main/reference/cli/kcp_claims_accept/index.html
  main/reference/cli/kcp_claims_get/index.html
  main/reference/cli/kcp_claims_get_apibinding/index.html
  main/reference/cli/kcp_claims_reject/index.html
  main/reference/cli/kcp_crd/index.html
  main/reference/cli/kcp_crd_snapshot/index.html
  main/reference/cli/kcp_quickstart/index.html
  main/reference/cli/kcp_workspace/index.html
  main/reference/cli/kcp_workspace_create-context/index.html
  main/reference/cli/kcp_workspace_current/index.html
  main/reference/cli/kcp_workspace_tree/index.html
  main/reference/cli/kcp_workspace_use/index.html
  main/reference/cli/workspace/index.html
  main/reference/cli/workspace_create-context/index.html
  main/reference/cli/workspace_current/index.html
  main/reference/cli/workspace_tree/index.html
  main/reference/cli/workspace_use/index.html
  main/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add new maintainers @gman0 and @SimonTheLeg
  MAINTAINERS.md
  OWNERS
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add missing k8s.io/cri-streaming replace
  go.mod
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fixup openapi schema serving in VW
  staging/src/github.com/kcp-dev/virtual-workspace-framework/pkg/dynamic/apiserver/openapi.go
  test/e2e/virtual/apiexport/apiresourceschema_sheriffs.yaml
  test/e2e/virtual/apiexport/openapi_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix all the go.mod's
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
  test/load/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Run the same `go list` command the publishing bot runs
  hack/update-go-modules.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update bump-k8s.sh to update cli-doc
  hack/bump-k8s.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

auth init v2
  pkg/authentication/index.go
  pkg/authentication/index_lazy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add frontproxy qps to loadtesting dashboards
  test/load/setup/manifests/dashboards/workspace-debug.json
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add script to unify report file creation for load tests
  test/load/Readme.md
  test/load/suite.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

implement loadtest-level-2
  test/load/go.mod
  test/load/testing/workspace.go
  test/load/testing/workspace_simple_crud_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add loatest results on workspace creation
  docs/content/developers/investigations/loadtest-report-apr-2026.md
  docs/content/developers/investigations/loadtest-report-apr-2026/flat-hierarchy-cold-start.png
  docs/content/developers/investigations/loadtest-report-apr-2026/frontproxy-indexing-delay.png
  docs/content/developers/investigations/loadtest-report-apr-2026/ghost-logicalcluster-scheduling.png
  docs/content/developers/investigations/loadtest-report-apr-2026/memory-freed-after-pod-deletion.png
  docs/content/developers/investigations/loadtest-report-apr-2026/memory-retention-after-deletion.png
  docs/content/developers/investigations/loadtest-report-apr-2026/memory-retention-multi-day.png
  docs/content/developers/investigations/loadtest-report-apr-2026/memory-sizing-multi-day.png
  docs/content/developers/investigations/loadtest-report-apr-2026/metrics-cardinality-count.png
  docs/content/developers/investigations/loadtest-report-apr-2026/metrics-cardinality-growth.png
  docs/content/developers/investigations/loadtest-report-apr-2026/stale-metrics-after-deletion.png
  docs/content/developers/investigations/loadtest-report-apr-2026/stalling-workspace-deletion.png
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 70ace526a to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  v0.31/search/search_index.json
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 2d38b4708 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 5cd080f9d to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed b8d8dec51 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: clarify WorkspaceType extend and with field semantics
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/types_workspacetype.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

load-test: fix workspace creation qps
  test/load/testing/workspace_creation_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: regenerate sdk applyconfig and openapi for workspacetype description changes
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypeextension.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

wire in labels to pprof
  docs/content/developers/investigations/memory-leak-attribution.md
  pkg/admission/kubequota/kubequota_admission.go
  pkg/pproflabels/labels.go
  pkg/reconciler/kubequota/kubequota_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add workspace quickstart into cli for ease of testing
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/cmd/cmd.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/options.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/quickstart_test.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/api_provider.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/scenario.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/scenarios_test.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/workspaces.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/workspaces_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add client evictor to recover memory
  pkg/server/clientcache_evictor.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix index cleanup leak
  pkg/index/index.go
  pkg/index/index_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix tests
  pkg/index/index_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fixup openapi controller eviction
  pkg/server/openapiv3/controller.go
  pkg/server/openapiv3/controller_test.go
  pkg/server/openapiv3_evictor.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

move to ctx logger
  pkg/server/clientcache_evictor.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update doc to use new quickstart
  docs/content/developers/investigations/memory-leak-attribution.md
Due: none

address reviews
  docs/content/developers/investigations/memory-leak-attribution.md
  pkg/server/server.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/scenarios/workspaces_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix reverse prune
  pkg/index/index.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix identity flakes
  pkg/reconciler/apis/apibinding/apibinding_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
