Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

add how to start a kcp Shard to the docs
  docs/content/concepts/sharding/shards.md
  docs/content/developers/index.md
  docs/content/developers/running-sharded.md
Due: none

Add garbagecollector.ID and .ObjectReference
  pkg/reconciler/garbagecollector/object_reference.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add graph
  pkg/reconciler/garbagecollector/graph.go
  pkg/reconciler/garbagecollector/graph_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add kcp native gc
  pkg/reconciler/garbagecollector/gc.go
  pkg/reconciler/garbagecollector/gc_deletion.go
  pkg/reconciler/garbagecollector/gc_handlers.go
  pkg/reconciler/garbagecollector/gc_utils.go
  pkg/reconciler/garbagecollector/utils.go
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add syncmap.SyncMap
  pkg/reconciler/garbagecollector/syncmap/syncmap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add kcpfeatures.KcpNativeGarbageCollection
  Makefile
  pkg/features/kcp_features.go
  pkg/server/controllers.go
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

DROP enable kcp native gc
  Makefile
  pkg/features/kcp_features.go
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fixup native gc
  pkg/reconciler/garbagecollector/gc.go
  pkg/reconciler/garbagecollector/gc_deletion.go
  pkg/reconciler/garbagecollector/gc_handlers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fixup
  pkg/reconciler/garbagecollector/gc_deletion.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fixup
  pkg/reconciler/garbagecollector/gc_handlers.go
  pkg/reconciler/garbagecollector/graph.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

stackdumping
  go.mod
  go.sum
  pkg/reconciler/garbagecollector/gc_utils.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/reflector.go
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/client-go/go.sum
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add cross-region deployment doc
  config/examples/cowboys/apiexport.yaml
  config/examples/cowboys/apiexportendpointslice-partitioned-alpha.yaml
  config/examples/cowboys/apiexportendpointslice-partitioned-beta.yaml
  config/examples/cowboys/apiresourceschema.yaml
  config/examples/cowboys/cowboy.yaml
  contrib/production/kcp-zheng/certificate-etcd-alpha.yaml
  contrib/production/kcp-zheng/certificate-etcd-beta.yaml
  contrib/production/kcp-zheng/certificate-etcd-root.yaml
  contrib/production/kcp-zheng/certificate-kcp.yaml
  contrib/production/kcp-zheng/etcd-druid-alpha.yaml
  contrib/production/kcp-zheng/etcd-druid-beta.yaml
  contrib/production/kcp-zheng/etcd-druid-root.yaml
  contrib/production/kcp-zheng/kcp-alpha-shard.yaml
  contrib/production/kcp-zheng/kcp-beta-shard.yaml
  contrib/production/kcp-zheng/kcp-front-proxy.yaml
  contrib/production/kcp-zheng/kcp-root-shard.yaml
  contrib/production/kcp-zheng/kubeconfig-kcp-admin.yaml
  docs/content/concepts/sharding/partitions.md
  docs/content/setup/production/index.md
  docs/content/setup/production/kcp-zheng.md
  docs/content/setup/production/prerequisites.md
  docs/content/setup/sharding.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

nit sharding vs ha
  docs/content/setup/sharding.md
Due: none

Deployed e8fac94d8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/production/index.html
  main/setup/production/kcp-zheng/index.html
  main/setup/sharding/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 3955bb2ea to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update publishing rules
  docs/content/contributing/guides/publishing-a-new-kcp-release.md
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

keep tags
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 15314fe4e to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/guides/publishing-a-new-kcp-release/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

reduce prometheus verbosity
  staging/src/github.com/kcp-dev/sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

reduce logging
  hack/run-with-prometheus.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: fix quickstart guide based on review feedback
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-kind-install.sh
Due: none

fix flake in TestTerminatingWorkspacesVirtualWorkspaceWatch
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix flake in TestCachedResources
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

mcp poc
  contrib/production/README.md
  contrib/production/kcp-mcp/config.toml
  contrib/production/kcp-mcp/values.yaml
  docs/content/setup/mcp.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: add verification log capture
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-kind-install.sh
Due: none

docs: verify workspace write access
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-kind-install.sh
Due: none

docs: clarify kind kubeconfig usage and externalPort type
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-kind-install.sh
Due: none

fix: set the interim workspace phase as Scheduling
  pkg/admission/workspace/admission.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: set the interim workspace phase as Scheduling
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

keep only setting the phase in the metadata reconciler
  pkg/admission/workspace/admission.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_metadata.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix TestAPIExportAPIBindingsAccess error when trying to create ws in a shard setup
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

first version of mcp docs
  contrib/production/kcp-mcp/certificate.yaml
  contrib/production/kcp-mcp/values.yaml
  contrib/production/oidc-keycloak/README.md
  contrib/production/oidc-keycloak/certificate-dns.yaml
  contrib/production/oidc-keycloak/keycloak-db-secret.yaml
  contrib/production/oidc-keycloak/keycloak-service-lb.yaml
  contrib/production/oidc-keycloak/keycloak.yaml
  contrib/production/oidc-keycloak/postgres-cluster.yaml
  contrib/production/oidc-keycloak/postgres-database.yaml
  docs/content/setup/keycloak.md
  docs/content/setup/mcp.md
  docs/content/setup/production/kcp-vespucci.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add mcp docs & restructure integrations
  contrib/production/kcp-mcp/config.toml
  docs/content/setup/.pages
  docs/content/setup/integrations.md
  docs/content/setup/integrations/.pages
  docs/content/setup/integrations/dex.md
  docs/content/setup/integrations/index.md
  docs/content/setup/integrations/keycloak.md
  docs/content/setup/integrations/lima.md
  docs/content/setup/integrations/mcp.md
  docs/content/setup/integrations/multicluster-runtime.md
  docs/content/setup/integrations/openfga.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

use shard external URL for APIExportEndpointSlice.
  pkg/reconciler/apis/apiexportendpointsliceurls/apiexportendpointsliceurls_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed c749f92cc to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add stopping integration server to cleanup queue
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cache: added etcd cmd flags
  pkg/cache/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

sharded-test-server: added --cache-kubeconfig flag to use external cache-server
  cmd/sharded-test-server/main.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
