Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Configure hover permalink anchors for documentation
  docs/mkdocs.yml
Due: none

Deployed 42bbf840b to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apiexports/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add documentation for the new mux'ed front-proxy behaviour
  docs/content/concepts/authentication/workspace.md
Due: none

fix random typos
  docs/content/concepts/authorization/authorizers.md
  docs/content/contributing/monorepo.md
Due: none

Deployed e6efd1f2a to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authentication/workspace/index.html
  main/concepts/authorization/authorizers/index.html
  main/contributing/monorepo/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

sed s/KCP/kcp/g in the docs
  cli/cmd/kubectl-kcp/cmd/kubectlKcp.go
  docs/content/concepts/authentication/index.md
  docs/content/concepts/authorization/index.md
  docs/content/concepts/miscellaneous/braindump.md
  docs/content/concepts/workspaces/workspace-types.md
  docs/content/contributing/commit-tag.png
  docs/content/contributing/guides/rebasing-kubernetes/commit-tag.png
  docs/content/contributing/guides/rebasing-kubernetes/index.md
  docs/content/setup/kubectl-plugin.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  config/crds/apis.kcp.io_apibindings.yaml
  config/crds/apis.kcp.io_apiexports.yaml
  config/crds/core.kcp.io_shards.yaml
  config/root-phase0/apiexport-shards.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-shards.core.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

adds doc suggestions made on issue 3666
  docs/content/concepts/apis/built-in.md
Due: none

nits for quickstart document
  docs/content/setup/quickstart.md
Due: none

Deployed 082970bbd to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/index.html
  main/setup/quickstart/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed f1030f721 to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/reference/crd/apis.kcp.io/apiexports/index.html
  v0.28/search/search_index.json
  v0.28/setup/index.html
  v0.28/setup/quickstart/index.html
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

simplify binding authorizer
  pkg/virtual/apiexport/authorizer/binding.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: kubectl-kcp crd snapshot missing support for webhook. Fail with error message instead of crash.
  sdk/apis/apis/v1alpha1/crd_to_apiresourceschema.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

multi-shard support for terminators
  pkg/reconciler/tenancy/replicateclusterrole/replicateclusterrole_controller.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add bind address to quickstart guide
  docs/content/setup/quickstart.md
Due: none

Deployed de3b9c255 to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/quickstart/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 401988d8f to v0.28 with MkDocs 1.5.3 and mike 2.1.3
  v0.28/search/search_index.json
  v0.28/setup/quickstart/index.html
  v0.28/sitemap.xml
  v0.28/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix initializer update error kind
  pkg/virtual/initializingworkspaces/builder/forwarding.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

clarify function arguments for CommitFunc
  pkg/reconciler/committer/committer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

include hierarchy and overall workflow for initializer docs
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

code-sample for workspace initializer
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

switch to initializingworkspace multicluster-provider
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

link to the official multicluster-provider example and fix hiearchy documentation
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

add terminator documentation
  docs/content/concepts/workspaces/.pages
  docs/content/concepts/workspaces/workspace-termination.md
Due: none

add lima integration step to doc
  docs/content/setup/integrations.md
Due: none

Deployed e741bb58a to main with MkDocs 1.5.3 and mike 2.1.3
  main/search/search_index.json
  main/setup/integrations/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

POC reduce test prometheus verbosity
  sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup prom config
  sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d9a41beae to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/core.kcp.io/logicalclusters/index.html
  main/reference/crd/tenancy.kcp.io/workspaces/index.html
  main/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: added generic virtual resource and CachedResource docs
  docs/content/concepts/apis/cached-resources.md
  docs/content/concepts/apis/exporting-apis.md
Due: none

use pre-defined identity in the VR example for easier deployment
  config/examples/virtualresources/README.md
  config/examples/virtualresources/apiexport.yaml
  config/examples/virtualresources/cached-resource-identity.yaml
  config/examples/virtualresources/cached-resource-instances.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint
  sdk/testing/server/metrics.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

terminators: wait specifically for WST to be ready
  test/e2e/virtual/terminatingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add CNCF CNL to references
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
