Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

docs: drop Python version pin
  docs/.python-version
Due: none

Use internal.kcp.io prefix for the migration finalizer
  pkg/reconciler/migration/logicalclustermigration/controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3614526b4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Drop cancelled per-cluster context when a logical cluster migrates away
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/server/controllers.go
  test/e2e/logicalclustermigration/migration_roundtrip_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 07565662c to v0.33 with MkDocs 1.5.3 and mike 2.1.3
  v0.33/sitemap.xml
  v0.33/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 37a4231b4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/apis.kcp.io/apibindings/index.html
  main/reference/crd/apis.kcp.io/apiexports/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Preserve etcd leases when migrating logical clusters
  config/crds/migration.kcp.io_logicalclusterdumps.yaml
  config/root-phase0/apiexport-migration.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclusterdumps.migration.kcp.io.yaml
  pkg/reconciler/migration/logicalclustermigration/datacopy.go
  pkg/reconciler/migration/logicalclustermigration/datacopy_test.go
  pkg/server/migrationdump/server.go
  pkg/server/migrationdump/server_test.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclusterdump.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Test label adjustments
  pkg/permissionclaim/permissionclaim_labeler.go
  pkg/permissionclaim/permissionclaim_labeler_test.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletion_controller.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_controller.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Drop X-Remote-Uid when forwarding requests
  pkg/proxy/authheaders/authheaders.go
  pkg/proxy/authheaders/authheaders_test.go
  pkg/server/localproxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 8c00f8c07 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Mounts rework forwarding
  cmd/sharded-test-server/shard.go
  cmd/test-server/main.go
  docs/content/concepts/workspaces/mounts.md
  pkg/admission/workspace/admission.go
  pkg/admission/workspace/admission_test.go
  pkg/index/index.go
  pkg/index/index_test.go
  pkg/mounts/url.go
  pkg/mounts/url_test.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_controller.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_reconcile_updater.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_reconcile_updater_test.go
  pkg/server/config.go
  pkg/server/filters/mount.go
  pkg/server/filters/shardlevelpaths.go
  pkg/server/filters/shardlevelpaths_test.go
  pkg/server/localproxy.go
  pkg/server/localproxy_test.go
  pkg/server/mountproxy.go
  pkg/server/mountproxy_test.go
  pkg/server/options/options.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/types_mounts.go
  test/e2e/mounts/mounts_machinery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add more tests validating per-workspace auth
  test/e2e/authentication/workspace_lifecycle_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Drop WAC handling from front-proxy
  pkg/authentication/authentication_controller.go
  pkg/authentication/authenticators.go
  pkg/authentication/filters.go
  pkg/authentication/index.go
  pkg/authentication/index_eager.go
  pkg/authentication/index_lazy.go
  pkg/authentication/index_test.go
  pkg/proxy/filters/filters.go
  pkg/proxy/filters/filters_test.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/proxy_test.go
  pkg/proxy/server.go
  pkg/server/config.go
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Invalidated built authenticators when RVs drift
  pkg/authentication/index.go
  pkg/authentication/index_lazy.go
  pkg/authentication/index_lazy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Replicate WAC to cache-server
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/reconciler/cache/replication/replication_controller.go
  test/e2e/reconciler/cache/replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use private kcp instance in TestPartitionSet{,Admission} to not affect other tests
  test/e2e/reconciler/partitionset/partitionset_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update WAC docs
  docs/content/concepts/authentication/index.md
  docs/content/concepts/authentication/workspace.md
Due: none

WAC lookup via local and cache lister
  pkg/authentication/index_lazy.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add WithoutProxyPeerIdentity
  pkg/authentication/proxypeer.go
  pkg/authentication/proxypeer_test.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add TTLCache.Delete
  pkg/shardlookup/ttl_cache.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add authfixtures.CreateOIDCTokenWithExpiry
  test/e2e/fixtures/authfixtures/mockoidc.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add metadata plugin
  pkg/admission/plugins.go
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix testing sdk
  staging/src/github.com/kcp-dev/sdk/testing/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add better guard on informer being not ready
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile.go
  pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Drop handling {cluster} in front-proxy mapping
  cmd/sharded-test-server/frontproxy.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/lookup/lookup_test.go
  test/e2e/proxy/header_injection_test.go
  test/e2e/proxy/proxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix panic in CRD controller cleanup
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_events_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 2e7474c8a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

harden the validation
  docs/content/concepts/workspaces/mounts.md
  pkg/admission/workspace/admission.go
  pkg/admission/workspace/admission_test.go
  pkg/server/mountproxy.go
  pkg/server/mountproxy_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3523eb866 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add caches.core.kcp.io API (dummy)
  config/crds/core.kcp.io_caches.yaml
  config/root-phase0/apiexport-core.kcp.io.yaml
  config/root-phase0/apiresourceschema-caches.core.kcp.io.yaml
  pkg/server/server.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/cache_types.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.deepcopy.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/core/v1alpha1/core_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/core/v1alpha1/fake/cache.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/core/v1alpha1/fake/core_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/cluster/typed/core/v1alpha1/generated_expansion.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/core/v1alpha1/core_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/core/v1alpha1/fake/fake_cache.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/core/v1alpha1/fake/fake_core_client.go
  staging/src/github.com/kcp-dev/sdk/client/clientset/versioned/typed/core/v1alpha1/generated_expansion.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/core/v1alpha1/interface.go
  staging/src/github.com/kcp-dev/sdk/client/informers/externalversions/generic.go
  staging/src/github.com/kcp-dev/sdk/client/listers/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/listers/core/v1alpha1/expansion_generated.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fixes & create Cache obj
  config/crds/core.kcp.io_caches.yaml
  config/root-phase0/apiexport-core.kcp.io.yaml
  config/root-phase0/apiresourceschema-caches.core.kcp.io.yaml
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/cache/server/config.go
  pkg/cache/server/options/options.go
  pkg/cache/server/server.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/cache_types.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/register.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/cachestatus.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Makefile: add EXTERNAL_ETCD for test-run-sharded-server target
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cache-server: added --cache-name arg
  pkg/cache/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

added cache registration controller; apigen now generates separate export for caches.core
  config/crds/core.kcp.io_caches.yaml
  config/root-phase0/apiexport-caches.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-caches.core.kcp.io.yaml
  config/root-phase0/bootstrap.go
  pkg/cache/server/server.go
  pkg/reconciler/core/cache/cache_conroller.go
  pkg/reconciler/core/cache/cache_reconciler.go
  pkg/server/controllers.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/cache_types.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/cache.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/cachespec.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/utils.go
  staging/src/github.com/kcp-dev/sdk/cmd/apigen/main.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: handle tombstones in APIBinding and APIExport controllers
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_events_test.go
  pkg/reconciler/apis/apiexport/apiexport_controller.go
  pkg/reconciler/apis/apiexport/apiexport_events_test.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_controller.go
  pkg/virtual/apiexport/controllers/apireconciler/apiexport_events_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
