Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Deployed e6c6375e4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix bug preventing the creation of CRD in virtual workspace
  pkg/virtual/framework/dynamic/apiserver/crd_helpers.go
  pkg/virtual/framework/dynamic/apiserver/openapi.go
  pkg/virtual/framework/dynamic/apiserver/serving_info.go
  staging/src/github.com/kcp-dev/sdk/testing/workspaces.go
  test/e2e/customresourcedefinition/crd_apiexport_test.go
  test/e2e/customresourcedefinition/shirts_crd.yaml
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/virtualresources/cachedresources/vr_cachedresources_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Disallow --external-hostname and set based on --shard-base-url or --bind-address
  pkg/server/options/flags.go
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

prevent concurrent map access in kube-openapi dependencies
  pkg/server/openapiv3/servicecache.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix SelfSubjectAccessReview and SelfSubjectRulesReview returning 403 despite valid RBAC
  pkg/authorization/workspace_content_authorizer.go
  pkg/authorization/workspace_content_authorizer_test.go
  test/e2e/authorizer/authorizer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update Go to 1.25.7
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  docs/content/contributing/getting-started.md
  docs/generators/cli-doc/go.mod
  go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/client-go/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/go.mod
  staging/src/github.com/kcp-dev/sdk/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Rebase kcp-dev/apimachinery to 1.35.1
  staging/src/github.com/kcp-dev/apimachinery/go.mod
  staging/src/github.com/kcp-dev/apimachinery/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Rebase kcp-dev/code-generator to Kubernetes 1.35.1
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/factory.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/informer.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/types.go
  staging/src/github.com/kcp-dev/code-generator/examples/go.mod
  staging/src/github.com/kcp-dev/code-generator/examples/go.sum
  staging/src/github.com/kcp-dev/code-generator/go.mod
  staging/src/github.com/kcp-dev/code-generator/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update code-generator codegen
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/clientset/versioned/fake/clientset.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1alpha1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1alpha1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1beta1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v1beta1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v2/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example/v2/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example3/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/example3/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/exampledashed/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/exampledashed/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/existinginterfaces/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/existinginterfaces/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/factory.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/secondexample/v1/clustertesttype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcp/clients/informers/externalversions/secondexample/v1/testtype.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcpexisting/clients/clientset/versioned/fake/clientset.go
  staging/src/github.com/kcp-dev/code-generator/examples/pkg/kcpexisting/clients/informers/externalversions/factory.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

tilt: Use kcp-operator and gateway api
  contrib/tilt/.gitignore
  contrib/tilt/Dockerfile
  contrib/tilt/Dockerfile.cache
  contrib/tilt/Dockerfile.kcp
  contrib/tilt/Dockerfile.proxy
  contrib/tilt/Tiltfile
  contrib/tilt/coredns.yaml
  contrib/tilt/dex-values.yaml
  contrib/tilt/etcd/kustomization.yaml
  contrib/tilt/etcd/root/kustomization.yaml
  contrib/tilt/etcd/root/namespace.yaml
  contrib/tilt/etcd/theseus/kustomization.yaml
  contrib/tilt/etcd/theseus/namespace.yaml
  contrib/tilt/extract-etcd-certs.sh
  contrib/tilt/extract-kubeconfig.bash
  contrib/tilt/front-proxy.yaml
  contrib/tilt/gateway.yaml
  contrib/tilt/generate-admin-kubeconfig.sh
  contrib/tilt/generate-frontproxy-admin-kubeconfig.sh
  contrib/tilt/helpers.py
  contrib/tilt/ingress-values.yaml
  contrib/tilt/issuer.yaml
  contrib/tilt/kcp-operator/kustomization.yaml
  contrib/tilt/kcp-values.yaml
  contrib/tilt/kind.sh
  contrib/tilt/kubeconfig-kcp-admin.yaml
  contrib/tilt/observability/Tiltfile
  contrib/tilt/observability/grafana-values.yaml
  contrib/tilt/observability/loki-values.yaml
  contrib/tilt/observability/prometheus-values.yaml
  contrib/tilt/observability/promtail-values.yaml
  contrib/tilt/observability/routes.yaml
  contrib/tilt/port-forward.bash
  contrib/tilt/shard-root.yaml
  contrib/tilt/shard-theseus.yaml
  contrib/tilt/tempo-values.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

DROP: Update publishing-bot rules
  staging/publishing/rules.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update kcp-dev/kcp to Kubernetes 1.35.1
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update load testing concept after first review
  test/load/Readme.md
  test/load/architecture.excalidraw
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

extend docs on cross workspace auth
  docs/content/concepts/authorization/authorizers.md
Due: none

Deployed b0b6ed2e5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: simplify quickstart guide to 2 teams and rename verification script
  docs/content/setup/quickstart-kind.md
  docs/scripts/verify-docs-quickstart-kind.sh
Due: none

Update codegen
  pkg/openapi/zz_generated.openapi.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/zz_generated.model_name.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Post-rebase 1.35.1 fixes
  hack/update-codegen-clients.sh
  pkg/admission/apiresourceschema/validation.go
  pkg/admission/apiresourceschema/validation_test.go
  pkg/admission/plugins.go
  pkg/proxy/lookup/lookup.go
  pkg/server/controllers.go
  pkg/server/home_workspaces.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

UNDO: local k8s
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

ws plugin: skip tree on workspaces that are being deleted
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix waiting on wrong informer
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

ensure current workspace is highlighted when in interactive mode
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0c49c7f8a to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Disable cgo for tilt docker builds
  contrib/tilt/helpers.py
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 2bc000fa0 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/authorization/authorizers/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update third_party
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/controller.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/reflector.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/metadata/fake/simple.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/testing/fixture.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update kcp-dev/kubernetes after third_party changes
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix the code generation
  pkg/authorization/workspace_content_authorizer_test.go
  staging/src/github.com/kcp-dev/client-go/apiextensions/client/fake/clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-informer-gen/generators/informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix CI failures
  docs/generators/cli-doc/go.mod
  pkg/authorization/workspace_content_authorizer_test.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
  pkg/server/options/flags.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/create_test.go
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/use_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/kcp/controller_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/kcpexisting/controller_test.go
  staging/src/github.com/kcp-dev/code-generator/examples/test/singlecluster/controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix codegen
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/zz_generated.model_name.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix inherited APIBinding Selector not inheriting default permission claim
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_controller.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_reconcile.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_reconcile_test.go
  pkg/reconciler/tenancy/initialization/apibinder_initializer_controller.go
  pkg/reconciler/tenancy/initialization/apibinder_initializer_reconcile.go
  pkg/server/controllers.go
  test/e2e/reconciler/workspace/apibinding_selector_inheritance_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Test
  cmd/swagger-schema-gen/main.go
  hack/update-codegen-clients.sh
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/core/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/tenancy/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/third_party/conditions/apis/conditions/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/topology/v1alpha1/zz_generated.model_name.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiconversion.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiexportendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha1/apiresourceschema.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apibinding.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apiexport.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedobject.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresource.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslice.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/logicalcluster.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/core/v1alpha1/shard.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/internal/internal.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspace.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetype.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partition.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/topology/v1alpha1/partitionset.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed e8ac3ef2b to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix: ws tree works with mount workspaces
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/tree.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Parallelise installing resources
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
