Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

fix(security): remove unconditional InsecureSkipVerify in localproxy workspace mounts
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Address review comments
  go.mod
  hack/update-codegen-clients.sh
  staging/src/github.com/kcp-dev/virtual-workspace-framework/CONTRIBUTING.md
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery.go
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed db879ed21 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix repeated test-e2e-sharded-minimal runs erroring
  test/e2e/framework/testcli.go
  test/e2e/workspace/cli_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

make ff explisit
  pkg/features/kcp_features.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: point to correct latest version in the docs
  docs/overrides/scripts/version_banner.js
Due: none

Clean up test cases by removing a blank line
  staging/src/github.com/kcp-dev/cli/pkg/workspace/plugin/create_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d1b9353b2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/scripts/version_banner.js
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 31b6ccea8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Improve error message to specify error came from alive endpoint
  staging/src/github.com/kcp-dev/sdk/testing/server/ready.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Give API server wait.ForeverTestTimeout minutes to come up
  staging/src/github.com/kcp-dev/sdk/testing/server/ready.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Skip extra timeout context for TestKcpRestart
  test/e2e/server/restart_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Ensure non-root shards don't start with their own cache server
  pkg/server/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Enhance inter-shard authentication
  cmd/sharded-test-server/cache.go
  cmd/sharded-test-server/main.go
  docs/content/concepts/sharding/cache-server.md
  pkg/cache/server/config.go
  pkg/cache/server/options/authentication.go
  pkg/cache/server/options/authorization.go
  pkg/cache/server/options/options.go
  pkg/server/cache.go
  pkg/server/options/options.go
  test/e2e/cache/cache_server_authz_test.go
  test/e2e/reconciler/cache/helpers.go
  test/e2e/reconciler/cache/replication_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Skip cache e2e tests due to upstream Histogram data race
  test/e2e/cache/cache_server_authz_test.go
  test/e2e/cache/cache_server_test.go
  test/e2e/cache/replication_api_cache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 5cf8b15bb to v0.30 with MkDocs 1.5.3 and mike 2.1.3
  v0.30/concepts/sharding/cache-server/index.html
  v0.30/search/search_index.json
  v0.30/sitemap.xml
  v0.30/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed f1113cb68 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/sharding/cache-server/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix loadtest urls to point to gateway
  test/load/setup/manifests/kcp.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed db5b66885 to v0.29 with MkDocs 1.5.3 and mike 2.1.3
  v0.29/concepts/apis/exporting-apis/index.html
  v0.29/concepts/sharding/cache-server/index.html
  v0.29/reference/crd/apis.kcp.io/apibindings/index.html
  v0.29/reference/crd/apis.kcp.io/apiexports/index.html
  v0.29/search/search_index.json
  v0.29/sitemap.xml
  v0.29/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

bump google.golang.org/grpc [CVE-2026-33186]
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump go.opentelemetry.io/otel/sdk [CVE-2026-24051]
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add chore label to PR template
  .github/pull_request_template.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed f88c90f59 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

ref: apply reviews on the code
  staging/src/github.com/kcp-dev/cli/pkg/claims/cmd/cmd.go
  staging/src/github.com/kcp-dev/cli/pkg/claims/plugin/claims.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding_v1alpha1.go
  staging/src/github.com/kcp-dev/cli/pkg/helpers/apis/apis/apibinding_v1alpha2.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix endless retry loop during external cache bootstrap by more than one kcp server replica
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Skip TestKcpRestart
  test/e2e/server/restart_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix configured CA not being used when running an external kcp virtual-workspaces server
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix endless retry loop during external cache bootstrap by more than one kcp server replica (#3974)
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

[release-0.28] fix endless retry loop during external cache bootstrap by more than one kcp server replica (#3974)
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  pkg/reconciler/dynamicrestmapper/defaultrestmapper_kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix endless retry loop during external cache bootstrap by more than one kcp server replica (#3979)
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix endless retry loop during external cache bootstrap by more than one kcp server replica (#3978)
  config/helpers/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
