Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

switch to direct matching instead of regex
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

feat(vwf/schema-converter): add unit tests for `VisitReference()`'s extensions processing
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

feat(vwf/schema-converter): make `google/gnostic-models` a direct dependency
  staging/src/github.com/kcp-dev/virtual-workspace-framework/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

feat(vwf/schema-converter): run `.VisitReference()` unit tests in parallel
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add crossshard resolution
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
  pkg/server/config.go
  pkg/server/virtualresources/config.go
  pkg/server/virtualresources/reference_resolution_test.go
  pkg/server/virtualresources/server.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_clustercachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

rework cross shard
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller.go
  pkg/reconciler/cache/apiexportreference/apiexportreference_controller_test.go
  pkg/server/virtualresources/reference_resolution_test.go
  pkg/server/virtualresources/server.go
  staging/src/github.com/kcp-dev/sdk/apis/cache/v1alpha1/types_clustercachedresource.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed ee9e6f3f3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add metadata plugin
  pkg/admission/plugins.go
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

differentiate between unreserved, adminReserved, and systemReserved
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix cherry
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: fix crd docs generation, use uv action, remove stray flag
  .github/workflows/docs-gen-and-push.yaml
  docs/content/developers/index.md
  docs/generators/crd-ref/run-crd-ref-gen.sh
  docs/scripts/serve-docs.sh
Due: none

chore(vwf/schema-converter): allow pasing extension reference name in unit tests
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

chore(vwf/schema-converter): make `.getTestSwaggerConfigRef()` unit test utility return an error
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

feat(vwf/schema-converter): add test validating the `runtime.RawExtension` known schema
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

test: label
  pkg/admission/reservedmetadata/admission.go
  pkg/admission/reservedmetadata/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

chore(vwf/schema-converter): use `require.NoError()` instead of `require.Nil()` in unit tests
  staging/src/github.com/kcp-dev/virtual-workspace-framework/crdpuller/discovery_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 47af80078 to v0.33 with MkDocs 1.5.3 and mike 2.1.3
  v0.33/sitemap.xml
  v0.33/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Consolidate annotation handler
  pkg/admission/clusterannotation/clusterannotation.go
  pkg/admission/clusterannotation/clusterannotation_test.go
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
  pkg/admission/mutatingwebhook/plugin.go
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
  pkg/admission/validatingwebhook/plugin.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 3f4358ca3 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/workspaces/mounts/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add feature gates and enable cross-shard SA in tilt
  contrib/tilt/front-proxy.yaml
  contrib/tilt/shard-root.yaml
  contrib/tilt/shard-theseus.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fix(openapiv3): read bound-CRD annotation from the right element in sort comparator
  pkg/server/openapiv3/servicecache.go
  pkg/server/openapiv3/servicecache_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add missing test branches in logicalcluster admission
  pkg/admission/logicalcluster/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

prevent child workspace admins to alter required-groups
  pkg/admission/logicalcluster/admission.go
  pkg/admission/logicalcluster/admission_test.go
  pkg/admission/reservedmetadata/admission.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

allow inactive annotation to only be changed by system identities
  pkg/admission/logicalcluster/admission.go
  pkg/admission/logicalcluster/admission_test.go
  test/e2e/workspace/inactive_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

only excempt SAs from same logicalcluster to bypass required-groups
  docs/content/concepts/authorization/authorizers.md
  pkg/authorization/requiredgroups_authorizer.go
  pkg/authorization/requiredgroups_authorizer_test.go
  test/e2e/authorizer/serviceaccounts_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 373d92194 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Compute usage gauges from informer caches at scrape time
  pkg/reconciler/apis/apibinding/apibinding_condition_metrics_test.go
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_phase_metrics_test.go
  pkg/reconciler/apis/apibinding/apibinding_ready_duration_metrics_test.go
  pkg/reconciler/apis/apiexport/apiexport_condition_metrics_test.go
  pkg/reconciler/apis/apiexport/apiexport_controller.go
  pkg/reconciler/apis/apiexport/apiexport_ready_duration_metrics_test.go
  pkg/reconciler/tenancy/logicalcluster/logicalcluster_controller.go
  pkg/reconciler/tenancy/workspace/workspace_controller.go
  pkg/server/controllers.go
  pkg/server/metrics/metrics.go
  pkg/server/metrics/usage.go
  pkg/server/metrics/usage_test.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Only enqueue the ClusterRoles of the LogicalCluster that changed
  pkg/reconciler/cache/labelclusterroles/labelclusterrole_controller.go
  pkg/reconciler/cache/labelclusterroles/labelclusterrole_controller_test.go
  pkg/reconciler/core/replicateclusterrole/replicateclusterrole_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
