Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Add watchcache ring ticker to unblock cacher shrink
  pkg/server/server.go
  pkg/server/watchcache_kicker.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Allow WorkspaceType create when referenced APIExport is missing
  pkg/admission/workspacetype/admission.go
  pkg/admission/workspacetype/admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add dedicted obkect to "kick"
  config/shard/watchcache-kicker-clusterrolebinding.yaml
  pkg/server/watchcache_kicker.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix panic in the code
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

e2e: add SA-owned workspace test for initializerPermissions (#4038)
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix(virtual): shorten DenyCacheTTL for lifecycle VW authorizers
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/terminatingworkspaces/builder/build.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

e2e: address review feedback on SA-owned workspace test
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

server: start watchcache kicker after informers synced
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix(workspacetype): resolve defaultAPIBindings path via LogicalCluster
  pkg/admission/workspacetype/admission.go
  pkg/admission/workspacetype/admission_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix(workspacetype): collapse not-found into bind-denied response
  pkg/admission/workspacetype/admission.go
  pkg/admission/workspacetype/admission_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

address review feedback
  pkg/admission/kubequota/kubequota_admission.go
  pkg/reconciler/kubequota/kubequota_controller.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix(rbac): allow external-logical-cluster-admin to create SubjectAccessReviews
  pkg/authorization/bootstrap/policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed f42409e42 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 50659093f to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add tests verifying stable hashing/encoding of stored values
  pkg/index/rewriters/user_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/permissionclaims/labels_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/permissionclaims/labels_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Move pkg/crypto into apimachinery
  pkg/identity/identity.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/util/crypto/rand.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add base{36,62}{,sha224} helpers
  staging/src/github.com/kcp-dev/apimachinery/pkg/util/crypto/encoder.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/util/crypto/encoder_test.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/util/crypto/hasher.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/util/crypto/hasher_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use kcpcrypto everywhere
  pkg/cache/server/crd_lister.go
  pkg/identity/identity.go
  pkg/index/rewriters/user.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/tenancy/workspace/workspace_indexes.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha1/permissionclaims/labels.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/permissionclaims/labels.go
  staging/src/github.com/kcp-dev/sdk/testing/workspaces.go
  test/e2e/framework/util.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

make modules
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/sdk/go.mod
  staging/src/github.com/kcp-dev/sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

load-test add script to reset kcp persistent data
  test/load/setup/reset-kcp.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 4de1389e8 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add make verify target to make file.
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

move to ctx logger
  pkg/server/clientcache_evictor.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add client evictor to recover memory
  pkg/server/clientcache_evictor.go
  pkg/server/server.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

address reviews
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add generation counter
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Restrict shard /metrics to top-level scope
  docs/content/setup/production/.pages
  docs/content/setup/production/metrics.md
  pkg/authorization/bootstrap/policy.go
  pkg/authorization/shardpaths/paths.go
  pkg/authorization/workspace_content_authorizer.go
  pkg/authorization/workspace_content_authorizer_test.go
  pkg/cache/server/config.go
  pkg/cache/server/handler.go
  pkg/cache/server/handler_test.go
  pkg/server/config.go
  pkg/server/filters/shardlevelpaths.go
  pkg/server/filters/shardlevelpaths_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

address review feedback
  pkg/server/server.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Reduce to Cache.Evict
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/client/constructor_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add .Evict to client templates
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/generator_fake_for_clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/fake/generator_fake_for_group.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/generator_for_clientset.go
  staging/src/github.com/kcp-dev/code-generator/cmd/cluster-client-gen/generators/generator_for_group.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

clientCacheEvictor
  pkg/server/clientcache_evictor.go
  pkg/server/config.go
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add .Evict
  staging/src/github.com/kcp-dev/client-go/discovery/clientset.go
  staging/src/github.com/kcp-dev/client-go/discovery/interface.go
  staging/src/github.com/kcp-dev/client-go/dynamic/clientset.go
  staging/src/github.com/kcp-dev/client-go/dynamic/interface.go
  staging/src/github.com/kcp-dev/client-go/metadata/clientset.go
  staging/src/github.com/kcp-dev/client-go/metadata/interface.go
  staging/src/github.com/kcp-dev/client-go/scale/clientset.go
  staging/src/github.com/kcp-dev/client-go/scale/interface.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/metadata/fake/simple.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

fixup-add-evict
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/dynamic/fake/simple.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add .Evict
  staging/src/github.com/kcp-dev/client-go/discovery/clientset.go
  staging/src/github.com/kcp-dev/client-go/discovery/interface.go
  staging/src/github.com/kcp-dev/client-go/dynamic/clientset.go
  staging/src/github.com/kcp-dev/client-go/dynamic/interface.go
  staging/src/github.com/kcp-dev/client-go/metadata/clientset.go
  staging/src/github.com/kcp-dev/client-go/metadata/interface.go
  staging/src/github.com/kcp-dev/client-go/scale/clientset.go
  staging/src/github.com/kcp-dev/client-go/scale/interface.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/dynamic/fake/simple.go
  staging/src/github.com/kcp-dev/client-go/third_party/k8s.io/client-go/metadata/fake/simple.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

docs: clarify 501 is a placeholder for future workspace metrics
  docs/content/setup/production/metrics.md
Due: none

test/e2e: add shard /metrics endpoint coverage
  test/e2e/authorizer/shardmetrics_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
