Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Update docs to include new roles and improve some outdated contributing pages
  docs/content/contributing/.pages
  docs/content/contributing/getting-started.md
  docs/content/contributing/index.md
  docs/content/index.md
Due: none

address review comments
  pkg/reconciler/tenancy/workspace/workspace_reconcile_deletion.go
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add some basic documentation for writing kcp-aware controllers
  docs/content/developers/.pages
  docs/content/developers/controllers/.pages
  docs/content/developers/controllers/client-go.md
  docs/content/developers/controllers/writing-kcp-aware-controllers.md
  docs/content/developers/investigations/logical-clusters.md
  docs/content/developers/investigations/self-service-policy.md
  docs/content/developers/investigations/transparent-multi-cluster.md
  docs/content/developers/storage-to-rest-patterns.md
Due: none

feat: add workload v1alpha1 API types for TMC support
  pkg/apis/workload/install/install.go
  pkg/apis/workload/v1alpha1/doc.go
  pkg/apis/workload/v1alpha1/register.go
  pkg/apis/workload/v1alpha1/types.go
  pkg/apis/workload/v1alpha1/zz_generated.deepcopy.go
  sdk/apis/workload/install/install.go
  sdk/apis/workload/v1alpha1/doc.go
  sdk/apis/workload/v1alpha1/register.go
  sdk/apis/workload/v1alpha1/types.go
  sdk/apis/workload/v1alpha1/zz_generated.deepcopy.go
  sdk/apis/workload/v1alpha1/zz_generated.defaults.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

feat: add TMC documentation
  BUILD-TMC.md
  TMC-IMPLEMENTATION-SUMMARY.md
  TMC-NEXT-STEPS.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

feat: add TMC Helm charts for deployment automation
  charts/README.md
  charts/kcp-syncer/Chart.yaml
  charts/kcp-syncer/templates/_helpers.tpl
  charts/kcp-syncer/templates/deployment.yaml
  charts/kcp-syncer/templates/rbac.yaml
  charts/kcp-syncer/templates/secret.yaml
  charts/kcp-syncer/templates/service.yaml
  charts/kcp-syncer/templates/serviceaccount.yaml
  charts/kcp-syncer/values.yaml
  charts/kcp-tmc/Chart.yaml
  charts/kcp-tmc/templates/_helpers.tpl
  charts/kcp-tmc/templates/configmap.yaml
  charts/kcp-tmc/templates/deployment.yaml
  charts/kcp-tmc/templates/pvc.yaml
  charts/kcp-tmc/templates/rbac.yaml
  charts/kcp-tmc/templates/service.yaml
  charts/kcp-tmc/templates/serviceaccount.yaml
  charts/kcp-tmc/templates/servicemonitor.yaml
  charts/kcp-tmc/values.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Configure workflows to use go-version from go.mod
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

better debuggability
  cli/pkg/bind/plugin/bind.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  sdk/apis/apis/v1alpha1/crd_to_apiresourceschema.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

move workspace deletion into separate Eventually block
  test/e2e/workspace/deletion_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed a26629dec to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Explicitly ignore error instead of nolint:errcheck
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Handle *.yml files and no explicit versions in workflows
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

DefaultKubeEffectiveVersion moved compatibility
  pkg/server/config.go
  pkg/virtual/framework/rootapiserver/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bump go version to 1.24.0
  .prow.yaml
  Dockerfile
  docs/content/contributing/getting-started.md
  go.mod
  sdk/go.mod
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Check all go.mod's go versions
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Read any go version, not just 1.x
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add PodTopologyLabels plugin
  pkg/admission/plugins.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Pass context
  pkg/server/controllers.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Remove test failing due to list-via-watch removal
  test/e2e/virtual/replication/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix sed call on MacOS
  hack/bump-k8s.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add new KCP leak
  test/integration/framework/leak_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Update dependencies to kcp-1.33.3
  cli/go.mod
  cli/go.sum
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  hack/verify-go-modules.sh
  sdk/go.mod
  sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Disable version emulation flags
  pkg/server/options/flags.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Switch from gofuzz to randfill
  sdk/apis/apis/fuzzer/fuzzer.go
  sdk/apis/roundtrip_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix linter issue
  sdk/apis/third_party/conditions/util/conditions/getter.go
  sdk/apis/third_party/conditions/util/conditions/merge.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/workspace/deletion_test.go
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Restrict goreleaser run one build at a time
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Download go modules before going into goreleaser
  .github/workflows/goreleaser.yml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Update dependencies to kcp-1.33.3
  cli/go.mod
  cli/go.sum
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  pkg/openapi/zz_generated.openapi.go
  sdk/client/clientset/versioned/fake/clientset_generated.go
  sdk/client/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  sdk/client/clientset/versioned/typed/apis/v1alpha2/apis_client.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/cache_client.go
  sdk/client/clientset/versioned/typed/core/v1alpha1/core_client.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/tenancy_client.go
  sdk/client/clientset/versioned/typed/topology/v1alpha1/topology_client.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/fake/clientset_generated.go
  test/e2e/fixtures/wildwest/client/clientset/versioned/typed/wildwest/v1alpha1/wildwest_client.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

codegen
  sdk/client/listers/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
