Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.23.7-2
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

Add Config.KubeconfigPath
  sdk/testing/server/config.go
  sdk/testing/server/fixture.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add Config.BuildArgs
  sdk/testing/server/config.go
  sdk/testing/server/fixture.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix docs validation in Pull Requests
  .github/workflows/docs-gen-and-push.yaml
  Makefile
  docs/requirements.txt
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix links
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/terminology.md
  docs/main.py
Due: none

Remove VOLUME directory from Dockerfile
  Dockerfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

this is not a manfile, thank you very much, no need to SCREAM AT ME
  hack/third_party/github.com/spf13/cobra/doc/md_docs.go
Due: none

do not needlessly keep a binary around
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

skip 'see also' sections for create plugins
  hack/third_party/github.com/spf13/cobra/doc/md_docs.go
Due: none

unindent examples to make docs and CLI look better
  cli/pkg/bind/cmd/cmd.go
  cli/pkg/claims/cmd/cmd.go
  cli/pkg/crd/cmd/cmd.go
  cli/pkg/workspace/cmd/cmd.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Redo test/integration framework
  test/integration/framework/server.go
  test/integration/framework/server_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add WaitLoadKubeconfig
  sdk/testing/server/external.go
  sdk/testing/server/fixture.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

CachedResources reconciler should check for missing label selector
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile_replication.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

docs: Convert ASCII diagrams to mermaid
  docs/content/concepts/apis/admission-webhooks.md
  docs/content/concepts/apis/exporting-apis.md
Due: none

Deployed 88e5a3ea2 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 68596e1e5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/apis/exporting-apis/index.html
  main/concepts/apis/index.html
  main/concepts/authentication/index.html
  main/concepts/authorization/index.html
  main/concepts/index.html
  main/concepts/miscellaneous/index.html
  main/concepts/sharding/index.html
  main/concepts/terminology/index.html
  main/concepts/workspaces/index.html
  main/developers/index.html
  main/developers/investigations/index.html
  main/reference/cli/create_workspace/index.html
  main/reference/cli/kcp/index.html
  main/reference/cli/kcp_bind/index.html
  main/reference/cli/kcp_bind_apiexport/index.html
  main/reference/cli/kcp_claims/index.html
  main/reference/cli/kcp_claims_get/index.html
  main/reference/cli/kcp_claims_get_apibinding/index.html
  main/reference/cli/kcp_crd/index.html
  main/reference/cli/kcp_crd_snapshot/index.html
  main/reference/cli/kcp_workspace/index.html
  main/reference/cli/kcp_workspace_create-context/index.html
  main/reference/cli/kcp_workspace_current/index.html
  main/reference/cli/kcp_workspace_tree/index.html
  main/reference/cli/kcp_workspace_use/index.html
  main/reference/cli/workspace/index.html
  main/reference/cli/workspace_create-context/index.html
  main/reference/cli/workspace_current/index.html
  main/reference/cli/workspace_tree/index.html
  main/reference/cli/workspace_use/index.html
  main/search/search_index.json
  main/setup/index.html
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Do not set the owner annotation on LogicalClusters to empty value
  pkg/reconciler/tenancy/logicalcluster/logicalcluster_controller.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_scheduling.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add APIExport annotation to skip APIExportEndpointSlice creation
  pkg/reconciler/apis/apiexport/apiexport_controller_test.go
  pkg/reconciler/apis/apiexport/apiexport_reconcile.go
  sdk/apis/apis/v1alpha2/types_apiexport.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add the PermissionClaims verbs to the docs
  docs/content/concepts/apis/exporting-apis.md
  docs/content/concepts/quickstart-tenancy-and-apis.md
Due: none

Deployed 204fd3391 to main with MkDocs 1.5.3 and mike 2.1.3
  main/concepts/apis/exporting-apis/index.html
  main/concepts/quickstart-tenancy-and-apis/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed a44c196e1 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Use 'core' group to replicate core API objects
  pkg/reconciler/cache/cachedresources/cachedresources_reconcile.go
  pkg/reconciler/cache/cachedresources/replication/replication_reconcile.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Authorize server-side apply as create in forwardingregistry
  pkg/virtual/framework/forwardingregistry/store.go
  test/e2e/virtual/apiexport/binding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 89f385872 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 5f9bfcb8c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

sdk: added CachedResourceEndpointSlice types
  sdk/apis/cache/v1alpha1/types_cachedresource.go
  sdk/apis/cache/v1alpha1/types_cachedresourceendpointslice.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Regenerated code
  config/crds/cache.kcp.io_cachedresourceendpointslices.yaml
  config/root-phase0/apiexport-cache.kcp.io.yaml
  config/root-phase0/apiresourceschema-cachedresourceendpointslices.cache.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/cache/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpoint.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslice.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicespec.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourceendpointslicestatus.go
  sdk/client/applyconfiguration/cache/v1alpha1/cachedresourcereference.go
  sdk/client/applyconfiguration/utils.go
  sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/cache_client.go
  sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/cachedresourceendpointslice.go
  sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/fake/cache_client.go
  sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/fake/cachedresourceendpointslice.go
  sdk/client/clientset/versioned/cluster/typed/cache/v1alpha1/generated_expansion.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/cache_client.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/cachedresourceendpointslice.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/fake/fake_cache_client.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/fake/fake_cachedresourceendpointslice.go
  sdk/client/clientset/versioned/typed/cache/v1alpha1/generated_expansion.go
  sdk/client/informers/externalversions/cache/v1alpha1/cachedresourceendpointslice.go
  sdk/client/informers/externalversions/cache/v1alpha1/interface.go
  sdk/client/informers/externalversions/generic.go
  sdk/client/listers/cache/v1alpha1/cachedresourceendpointslice.go
  sdk/client/listers/cache/v1alpha1/expansion_generated.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Register CachedResourceEndpointSlice{,List} with sdk/apis/cache/v1alpha1
  sdk/apis/cache/v1alpha1/register.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Register cachedresourceendpoingslices with system CRDs
  config/system-crds/bootstrap.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

update to Go 1.23.10
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
  docs/content/contributing/index.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed d77640860 to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

feat(workspacetype): Add defaultAPIBinding lifecylce
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_controller.go
  pkg/reconciler/tenancy/defaultapibindinglifecycle/default_apibinding_lifecycle_reconcile.go
  pkg/server/controllers.go
  pkg/server/server.go
  sdk/apis/tenancy/v1alpha1/types_workspace.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  test/e2e/apibinding/default_apibinding_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix dynamicRestMapper consistency
  pkg/reconciler/apis/logicalclustercleanup/logicalclustercleanup_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_controller.go
  pkg/server/controllers.go
  test/integration/framework/assets/assets.go
  test/integration/framework/assets/crd_kubecluster.yaml
  test/integration/framework/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Implement kcptestingserver.RunningServer
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix dynamic rest mapper
  pkg/reconciler/apis/logicalclustercleanup/logicalclustercleanup_controller.go
  pkg/reconciler/dynamicrestmapper/dynamicrestmapper_controller.go
  pkg/reconciler/dynamicrestmapper/forcluster.go
  pkg/reconciler/tenancy/workspacemounts/workspace_indexes.go
  pkg/server/controllers.go
  test/integration/dynamicrestmapper/assets/assets.go
  test/integration/dynamicrestmapper/assets/crd_kubecluster.yaml
  test/integration/dynamicrestmapper/dynamicrestmapper_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed de10d92c9 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 7e7205b4c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 9e7962093 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed eb60348a0 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/crd/tenancy.kcp.io/workspacetypes/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
