Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

add feature-flags
  contrib/tilt/shard-root.static.yaml
  contrib/tilt/shard-theseus.static.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add image override
  contrib/tilt/Tiltfile.static
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Run dynamic REST mapper controllers on every shard replica
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix virtual workspace forward client TLS for embedded virtual workspaces
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed fb8629abb to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add registerControllerWithoutLeaderElection for per-replica controllers
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

implement additional metrics for backend traffic
  pkg/proxy/lookup/lookup.go
  pkg/proxy/mapping.go
  pkg/proxy/metrics/metrics.go
  pkg/proxy/metrics/metrics_test.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0de571310 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

remove misleading note about Go in getting started guide
  docs/content/contributing/getting-started.md
Due: none

Deployed 95d26f203 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 224ce8eed to main with MkDocs 1.5.3 and mike 2.1.3
  main/contributing/getting-started/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add parallel linter
  .golangci.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Skip paralleltest linter on TestDefaultAPIBindingsBindPermission
  test/e2e/apibinding/default_apibinding_admission_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Skip paralleltest linter on TestRoundTripTypes
  staging/src/github.com/kcp-dev/sdk/apis/roundtrip_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 6b1381335 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Enable SA auth in tilt & customizations
  contrib/tilt/Tiltfile.static
  contrib/tilt/front-proxy.static.yaml
  contrib/tilt/shard-root.static.yaml
  contrib/tilt/shard-theseus.static.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Add per cluster context cancellation integration test
  test/integration/logicalclustermigration/per_cluster_context_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add ScopeableSharedIndexInformer.SetIgnoreFunc
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/informers.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add migration.kcp.io to codegen
  hack/update-codegen-clients.sh
  staging/src/github.com/kcp-dev/sdk/apis/migration/install/install.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/register.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/register.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclusterdump.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclustermigration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Handle ignoreFunc in DDSIF and add DDSIF.PurgeCluster
  pkg/informer/informer.go
  pkg/server/server.go
  test/e2e/conformance/cross_logical_cluster_list_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add migration.kcp.io
  staging/src/github.com/kcp-dev/sdk/apis/migrating/install/install.go
  staging/src/github.com/kcp-dev/sdk/apis/migrating/register.go
  staging/src/github.com/kcp-dev/sdk/apis/migrating/v1alpha1/doc.go
  staging/src/github.com/kcp-dev/sdk/apis/migrating/v1alpha1/register.go
  staging/src/github.com/kcp-dev/sdk/apis/migrating/v1alpha1/types_logicalclusterdump.go
  staging/src/github.com/kcp-dev/sdk/apis/migrating/v1alpha1/types_logicalclustermigration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add .ForceRelist
  pkg/informer/informer.go
  staging/src/github.com/kcp-dev/apimachinery/pkg/cache/informers.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/informers/shared_informer.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/controller.go
  staging/src/github.com/kcp-dev/apimachinery/third_party/reflector/reflector.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

loadtest allow supplying an external config
  test/load/Readme.md
  test/load/config.example.json
  test/load/suite.sh
  test/load/testing/main_test.go
  test/load/testing/params.go
  test/load/testing/workspace_creation_test.go
  test/load/testing/workspace_simple_crud_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

loadtest set cert-manager webhook timeout to 5s
  test/load/setup/values/cert-manager.yaml
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add WithBlockMigratingLogicalClusters and wire it
  pkg/server/config.go
  pkg/server/filters/migratinglogicalcluster.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Bootstrap migration.kcp.io
  config/shard/bootstrap.go
  pkg/server/bootstrap/identity.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Replicate LogicalClusterMigration to cache server
  pkg/cache/server/bootstrap/bootstrap.go
  pkg/reconciler/cache/replication/replication_controller.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Skip adding per-lc context to LogicalClusterDump requests
  pkg/server/filters/perclustercontext.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add MigratingLogicalClusters
  pkg/reconciler/migration/logicalclustermigration/migratinglogicalclusters.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire logicalclustermigration.Controller into server
  pkg/server/controllers.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add logicalclustermigration.Controller
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/datacleanup.go
  pkg/reconciler/migration/logicalclustermigration/datacopy.go
  pkg/reconciler/migration/logicalclustermigration/doc.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire in migrating VW
  pkg/virtual/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add LogicalClusterDump handler
  pkg/server/filters/migrationdump.go
  pkg/server/migrationdump/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add migrating VW
  pkg/virtual/migratingworkspaces/builder/build.go
  pkg/virtual/migratingworkspaces/doc.go
  pkg/virtual/migratingworkspaces/options/options.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Enable LogicalClusterMigration feature in tests
  Makefile
  test/e2e/framework/kcp.go
  test/integration/framework/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire MigratingLogicalClusters into server
  pkg/server/config.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add LogicalClusterMigration feature flag
  pkg/features/kcp_features.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire LogicalClusterDump handler
  pkg/server/config.go
  pkg/server/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
