Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

pull-kcp-lint:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - lint
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-build-image:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.38.0
      command:
      - hack/build-image.sh
      env:
      - name: DRY_RUN
        value: '1'
      securityContext:
        privileged: true
      resources:
        requests:
          memory: 1Gi
  ...

pull-kcp-test-unit:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - make
      - test
      env:
      - name: USE_GOTESTSUM
        value: '1'
      resources:
        requests:
          memory: 4Gi
          cpu: 2

pull-kcp-test-integration:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-integration
      env:
      - name: USE_GOTESTSUM
        value: '1'
  ...

pull-kcp-test-e2e:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-multiple-runs:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-shared:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-shared-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

pull-kcp-test-e2e-sharded:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: ghcr.io/kcp-dev/infra/build:1.24.5-1
      command:
      - ./hack/run-with-prow.sh
      - ./hack/run-with-prometheus.sh
      - make
      - test-e2e-sharded-minimal
      env:
      - name: SUITES
        value: control-plane
  ...

fix shard handling in the index, move code out of pkg/proxy/ to prepare for localproxy
  pkg/authentication/authentication_controller.go
  pkg/authentication/filters.go
  pkg/authentication/index.go
  pkg/authentication/index_test.go
  pkg/authentication/kube_conversion.go
  pkg/authentication/workspace.go
  pkg/index/index.go
  pkg/proxy/authentication/index.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

implement auth controller and auth index
  pkg/proxy/authentication/authentication_controller.go
  pkg/proxy/authentication/index.go
  pkg/proxy/authentication/kube_conversion.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add WorkspaceAuthenticationConfiguration
  config/crds/tenancy.kcp.io_workspaceauthenticationconfigurations.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/proxy.go
  sdk/apis/tenancy/v1alpha1/register.go
  sdk/apis/tenancy/v1alpha1/types_workspaceauthentication.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimmappings.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimorexpression.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/claimvalidationrule.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/extramapping.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/issuer.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/jwtauthenticator.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/prefixedclaimorexpression.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/uservalidationrule.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspaceauthenticationconfigurationspec.go
  sdk/client/applyconfiguration/utils.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/fake/tenancy_client.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/fake/workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/generated_expansion.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/tenancy_client.go
  sdk/client/clientset/versioned/cluster/typed/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/fake/fake_tenancy_client.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/fake/fake_workspaceauthenticationconfiguration.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/generated_expansion.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/tenancy_client.go
  sdk/client/clientset/versioned/typed/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/informers/externalversions/generic.go
  sdk/client/informers/externalversions/tenancy/v1alpha1/interface.go
  sdk/client/informers/externalversions/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
  sdk/client/listers/tenancy/v1alpha1/expansion_generated.go
  sdk/client/listers/tenancy/v1alpha1/workspaceauthenticationconfiguration.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove redundant and wrong status code handling
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add reference to WAC to WorkspaceTypes
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/apis/tenancy/v1alpha1/zz_generated.deepcopy.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/authenticationconfigurationreference.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/workspacetypespec.go
  sdk/client/applyconfiguration/utils.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

introduce new WorkspaceAuthentication feature gate
  cmd/kcp-front-proxy/options/options.go
  pkg/features/kcp_features.go
  pkg/proxy/authentication/index.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/server.go
  sdk/testing/config.go
  sdk/testing/kcp.go
  sdk/testing/server/config.go
  test/e2e/framework/kcp.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove Path option for WorkspaceAuthConfig references
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/authenticationconfigurationreference.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

tweak optionality of some fields
  config/crds/tenancy.kcp.io_workspaceauthenticationconfigurations.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  pkg/openapi/zz_generated.openapi.go
  pkg/proxy/lookup/lookup.go
  sdk/apis/tenancy/v1alpha1/types_workspaceauthentication.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

WIP: middleware to resolve clusters
  pkg/index/index.go
  pkg/proxy/authentication/workspace.go
  pkg/proxy/index/index_controller.go
  pkg/proxy/lookup/lookup.go
  pkg/proxy/mapping.go
  pkg/proxy/proxy.go
  pkg/proxy/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix handling for local workspace types
  pkg/index/index.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add basic e2e test to ensure custom authentication for a workspace works
  Makefile
  go.mod
  go.sum
  test/e2e/authentication/mockoidc.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

only resolve URLs once instead of once per mapping
  pkg/server/proxy/handler.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add workspaceauth handling to localproxy, enabling a single-shard to also have the feature working
  pkg/server/config.go
  pkg/server/localproxy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

keep track of workspace types per logicalcluster in the index
  pkg/index/index.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

scope authn infos to the given logicalcluster, add test to ensure it works
  pkg/authentication/authenticators.go
  pkg/authentication/filters.go
  pkg/server/localproxy.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

constraint testcase to new workspace to allow multiple runs
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

extend e2e testcases
  test/e2e/authentication/mockoidc.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove unneeded parameter since we're now relying on the context
  pkg/authentication/filters.go
  pkg/authentication/workspace.go
  pkg/proxy/server.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cleanup unit test
  pkg/authentication/index_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

rename ref field from Configuration to Name
  config/crds/tenancy.kcp.io_workspacetypes.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspacetypes.tenancy.kcp.io.yaml
  pkg/authentication/index.go
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/tenancy/v1alpha1/types_workspacetype.go
  sdk/client/applyconfiguration/tenancy/v1alpha1/authenticationconfigurationreference.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix multiple logic issues in authentication chain
  pkg/authentication/authentication_controller.go
  pkg/authentication/filters.go
  pkg/authentication/workspace.go
  pkg/proxy/filters/filters.go
  pkg/proxy/server.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

cancel and stop shard watchers when servers are stopped
  pkg/authentication/authentication_controller.go
  pkg/authentication/index.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

improve error handling
  pkg/authentication/authentication_controller.go
  pkg/proxy/server.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

lint
  config/crds/tenancy.kcp.io_workspaceauthenticationconfigurations.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaceauthenticationconfigurations.tenancy.kcp.io.yaml
  pkg/authentication/authentication_controller.go
  pkg/authentication/index.go
  pkg/proxy/mapping.go
  sdk/apis/tenancy/v1alpha1/types_workspaceauthentication.go
  sdk/testing/server/config.go
  test/e2e/authentication/workspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable feature in shared e2e tests
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Maintain a minimum and a build go version
  go.mod
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Specify the minimum go version to install
  docs/content/contributing/getting-started.md
Due: none

Update cli-doc go version to maintained minimum version
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Enable `go version` check only in CI
  hack/verify-go-versions.sh
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

add documentation
  docs/content/concepts/authentication/oidc.md
  docs/content/concepts/authentication/workspace.md
Due: none

replace NewOrganizationFixture with NewWorkspaceFixture
  test/e2e/apibinding/apibinding_deletion_test.go
  test/e2e/apibinding/apibinding_logicalcluster_test.go
  test/e2e/apibinding/apibinding_permissionclaims_test.go
  test/e2e/apibinding/apibinding_protected_test.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/apibinding/apibinding_webhook_test.go
  test/e2e/apibinding/default_apibinding_test.go
  test/e2e/apibinding/maximalpermissionpolicy_authorizer_test.go
  test/e2e/audit/audit_log_test.go
  test/e2e/authorizer/authorizer_test.go
  test/e2e/authorizer/impersonate_test.go
  test/e2e/authorizer/rootcacertconfigmap_test.go
  test/e2e/authorizer/scopes_test.go
  test/e2e/authorizer/serviceaccounts_test.go
  test/e2e/authorizer/workspace_test.go
  test/e2e/conformance/crd_partial_metadata_test.go
  test/e2e/conformance/cross_logical_cluster_list_test.go
  test/e2e/conformance/metadata_test.go
  test/e2e/conformance/validatingadmissionpolicy_test.go
  test/e2e/conformance/webhook_test.go
  test/e2e/customresourcedefinition/customresourcedefinition_test.go
  test/e2e/garbagecollector/garbagecollector_test.go
  test/e2e/openapi/openapi_test.go
  test/e2e/quota/quota_test.go
  test/e2e/reconciler/apiexport/apiexport_controller_test.go
  test/e2e/reconciler/apiexportendpointslice/apiexportendpointslice_test.go
  test/e2e/reconciler/cache/replication_test.go
  test/e2e/reconciler/partitionset/partitionset_test.go
  test/e2e/reconciler/workspace/apibinding_initializer_test.go
  test/e2e/reconciler/workspace/controller_test.go
  test/e2e/reconciler/workspacedeletion/controller_test.go
  test/e2e/virtual/apiexport/authorizer_test.go
  test/e2e/virtual/apiexport/binding_test.go
  test/e2e/virtual/apiexport/openapi_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
  test/e2e/virtual/replication/virtualworkspace_test.go
  test/e2e/watchcache/watchcache_enabled_test.go
  test/e2e/workspacetype/controller_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

include hierarchy and overall workflow for initializer docs
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

clarify function arguments for CommitFunc
  pkg/reconciler/committer/committer.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

enable tabs for docs
  docs/mkdocs.yml
Due: none

code-sample for workspace initializer
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

switch to initializingworkspace multicluster-provider
  docs/content/concepts/workspaces/workspace-initialization.md
Due: none

Fix snapshot test
  cli/pkg/crd/plugin/snapshot_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix `create-workspace` on an existing workspace throwing a panic
  cli/pkg/workspace/plugin/create.go
  cli/pkg/workspace/plugin/create_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Run cli unit tests
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix create-workspace tests
  cli/pkg/workspace/plugin/create.go
  cli/pkg/workspace/plugin/create_test.go
  cli/pkg/workspace/plugin/use.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
