Repository kcp-dev/kcp: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Path conditions:
  pull-kcp-lint: unless all of: (docs)
  pull-kcp-build-image: unless all of: (docs)
  pull-kcp-test-unit: unless all of: (docs)
  pull-kcp-test-integration: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-multiple-runs: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-shared: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)
  pull-kcp-test-e2e-sharded: any of: (cmd|config|pkg|sdk|test|go.mod|go.sum|Makefile|.prow.yaml)

Fix FP admin kubeconfig
  contrib/tilt/kcp_static.Tiltfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Adjust tilt lib for better controll
  contrib/tilt/kcp_static.Tiltfile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Paginate LogicalClusterDump to avoid whole-cluster etcd transfers
  config/crds/migration.kcp.io_logicalclusterdumps.yaml
  config/crds/migration.kcp.io_logicalclustermigrations.yaml
  config/root-phase0/apiexport-migration.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclusterdumps.migration.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclustermigrations.migration.kcp.io.yaml
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/datacopy.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/reconciler/migration/logicalclustermigration/reconciler_test.go
  pkg/server/migrationdump/server.go
  pkg/server/migrationdump/server_test.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclusterdump.go
  staging/src/github.com/kcp-dev/sdk/apis/migration/v1alpha1/types_logicalclustermigration.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/migration/v1alpha1/logicalclustermigrationstatus.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/logicalclustermigration/migration_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

resolve Nelo's comments
  pkg/etcd/keys.go
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/datacopy.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  pkg/reconciler/migration/logicalclustermigration/reconciler_test.go
  pkg/server/migrationdump/server.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Move to WaitForSuccessor
  config/crds/apis.kcp.io_apibindings.yaml
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption_test.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletion_controller.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor_test.go
  pkg/server/controllers.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apibinding.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apibinding_conversion_test.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apibindingspec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/apibinding/apibinding_adoption_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix: apply WithStorageVersionPrecondition in kcp BuildHandlerChainFunc
  pkg/features/kcp_features.go
  pkg/server/config.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix ctx cancelation
  test/e2e/virtual/initializingworkspaces/virtualworkspace_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add documentation for logicalcluster migration
  docs/content/concepts/sharding/.pages
  docs/content/concepts/sharding/migration.md
  docs/content/concepts/sharding/shards.md
  docs/content/developers/testing-migration.md
Due: pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

PR feedback
  docs/content/concepts/sharding/migration.md
Due: none

Fix quota flakes
  test/e2e/quota/quota_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0e654566c to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 6e750e570 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

detect kcp connection failures via typed errors
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/cmd/cmd.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/options.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/quickstart.go
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/quickstart_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

add parallel signal to new tests
  staging/src/github.com/kcp-dev/cli/pkg/quickstart/plugin/quickstart_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

remove retired goreport card
  README.md
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

drop usage of deprecated/insecure square/go-jose in favor of go-jose/go-jose
  go.mod
  go.sum
  pkg/server/filters/serviceaccounts.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 12bc1f436 to main with MkDocs 1.5.3 and mike 2.1.3
  main/reference/cli/kcp_quickstart/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Fix LC migration informer relist flake by expiring stale resource versions
  pkg/server/filters/migratinglogicalcluster.go
  pkg/server/filters/migratinglogicalcluster_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix LC migration test
  test/e2e/logicalclustermigration/migration_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Wire in ctrl-runtime test
  .prow.yaml
  Makefile
  test/controller-runtime/go.mod
  test/controller-runtime/go.sum
  test/controller-runtime/migration_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

fix missing flag
  test/controller-runtime/go.mod
  test/controller-runtime/go.sum
  test/controller-runtime/main_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

bump golang.org/x in all non-library modules
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  staging/src/github.com/kcp-dev/cli/go.mod
  staging/src/github.com/kcp-dev/cli/go.sum
  test/load/go.mod
  test/load/go.sum
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

skip ctrl-runtime in unit tetss
  Makefile
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 18de9144c to v0.32 with MkDocs 1.5.3 and mike 2.1.3
  v0.32/reference/crd/apis.kcp.io/apiresourceschemas/index.html
  v0.32/search/search_index.json
  v0.32/sitemap.xml
  v0.32/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

[release-0.31] drop usage of deprecated/insecure square/go-jose in favor of go-jose/go-jose (#4266)
  go.mod
  go.sum
  pkg/server/filters/serviceaccounts.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Fix LC migration informer relist flake (#4264)
  .prow.yaml
  Makefile
  pkg/server/filters/migratinglogicalcluster.go
  pkg/server/filters/migratinglogicalcluster_test.go
  test/controller-runtime/go.mod
  test/controller-runtime/go.sum
  test/controller-runtime/main_test.go
  test/controller-runtime/migration_test.go
  test/e2e/logicalclustermigration/migration_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 0aadcabc5 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Share and refcount origin migration client across concurrent migrations
  pkg/reconciler/migration/logicalclustermigration/controller.go
  pkg/reconciler/migration/logicalclustermigration/datacopy.go
  pkg/reconciler/migration/logicalclustermigration/datacopy_test.go
  pkg/reconciler/migration/logicalclustermigration/reconciler.go
  test/e2e/logicalclustermigration/migration_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed 53489e5ce to v0.31 with MkDocs 1.5.3 and mike 2.1.3
  v0.31/reference/crd/apis.kcp.io/apiresourceschemas/index.html
  v0.31/search/search_index.json
  v0.31/sitemap.xml
  v0.31/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

APIBinding resource adoption on binding deletion
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption_test.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletion_controller.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor_test.go
  pkg/server/controllers.go
  test/e2e/apibinding/apibinding_adoption_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Add spec.deletionPolicy=WaitForSuccessor to APIBinding
  config/crds/apis.kcp.io_apibindings.yaml
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_adoption_test.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletion_controller.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor.go
  pkg/reconciler/apis/apibindingdeletion/apibinding_deletor_test.go
  pkg/server/controllers.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apibinding.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apibinding_conversion.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/types_apibinding_conversion_test.go
  staging/src/github.com/kcp-dev/sdk/apis/apis/v1alpha2/zz_generated.conversion.go
  staging/src/github.com/kcp-dev/sdk/client/applyconfiguration/apis/v1alpha2/apibindingspec.go
  staging/src/github.com/kcp-dev/sdk/openapi/zz_generated.openapi.go
  test/e2e/apibinding/apibinding_adoption_test.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Deployed c1d0144b4 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Deployed 48711aa31 to main with MkDocs 1.5.3 and mike 2.1.3
  main/sitemap.xml
  main/sitemap.xml.gz
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit

Use DynamicRESTMapper for VAP delegates
  pkg/admission/validatingadmissionpolicy/validating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Only create MAP delegate when a MAP exists
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded

Use sync.Map + singleflight
  pkg/admission/mutatingadmissionpolicy/mutating_admission_policy.go
Due: pull-kcp-lint, pull-kcp-build-image, pull-kcp-test-unit, pull-kcp-test-integration, pull-kcp-test-e2e, pull-kcp-test-e2e-multiple-runs, pull-kcp-test-e2e-shared, pull-kcp-test-e2e-sharded
